{% extends 'AppIntranet/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Asignación de Conductor</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Transporte</strong>
            </li>
            <li class="breadcrumb-item active">
                <strong>Mantenedor Transporte</strong>
            </li>
            <li class="breadcrumb-item active">
                <strong>Asignación de conductor</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="col-lg-3 pt-3 mb-3">
            <a href="{% url 'list_transporte' %}">
                <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-reply"></i> Volver</button>
            </a>
        </div>

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Asignación de Conductor </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="far fa-calendar-check"></i> Conductores
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover issue-tracker">
                                            <tbody>
                                                <h3>Asignación de conductor para la reserva ID: 5472618</h3>

                                                <tr>
                                                    <thead>
                                                        <tr>
                                                            <th scope="col"></th>
                                                            <th scope="col"><i class="fa fa-address-card-o"></i> Rut </th>
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col">Apellidos</th>
                                                            <th scope="col">Edad</th>
                                                        </tr>
                                                    </thead>
                                                    <td>
                                                        <a href="#" class="btn btn-primary"><i
                                                                class="fa fa-building-o"></i>
                                                            </i> Asignar a esta reserva</a>
                                                    </td>
                                                    <td class="issue-info">
                                                        10.652.876-0
                                                    </td>
                                                    <td class="issue-info">

                                                        
                                                             JUAN CARLOS
                                                       

                                                    </td>
                                                    <td class="issue-info">

                                                        
                                                            TAPIA CASTRO
                                                 

                                                    </td>
                                                    <td class="issue-info">

                                                        
                                                             40 años
                                                        

                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}