{% extends 'AppIntranet/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Agenda de Transporte</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Transporte</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3 pt-3 mb-3">
            <a href="{% url 'intranet' %}">
                <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-reply"></i> Volver</button>
            </a>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Agenda de transportes reservados </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="far fa-calendar-check"></i> Calendario transporte
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover issue-tracker">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                    <th scope="col"><i class="fa fa-building"></i> Destino</th>
                                                    <th scope="col"><i class="fa fa-calendar"></i> Fecha</th>
                                                    <th scope="col"><i class="fa fa-clock-o"></i> Hora</th>
                                                    <th scope="col"><i class="fa fa-info"></i> Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="row pt-2 mb-2 ml-2 mr-2">

                                                            <a href="{% url 'asig_vehiculo' %}"
                                                                class="btn btn-primary"><i class="fa fa-car"> </i>
                                                                Asignar vehículo</a></div>
                                                        <div class="row pt-2 mb-2 ml-2 mr-2">
                                                            <a href="{% url 'asig_conductor' %}"
                                                                class="btn btn-primary"><i class="fa fa-user"> </i>
                                                                Asignar conductor</a>
                                                            <br>
                                                        </div>

                                                    </td>
                                                    <div class="row">
                                                        <td></td>
                                                        <td class="issue-info">
                                                            Puerto Varas, calle la semilla #876;

                                                        </td>
                                                        <td class="issue-info centered">
                                                            12/12/2020

                                                        </td>
                                                        <td class="issue-info centered">
                                                            5:00 pm

                                                        </td>
                                                        <td class="issue-info">
                                                            Sin Asignaciones

                                                        </td>

                                                    </div>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}