{% extends 'AppIntranet/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Agenda de funcionario {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="far fa-calendar-check"></i> Agenda de Arriendos</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Agenda de Arriendos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Agenda de reservas </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="far fa-calendar-check"></i> Calendario Check-In
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover issue-tracker">
                                            <tbody>
                                                {% for detalle in check_in %}
                                                    <tr>
                                                        <td>
                                                            {% if detalle.fk_reserva.fechaInicio|date:"Y-m-d" <= today %}
                                                                <button type="button" class="btn btn-primary"><i class="fas fa-handshake"></i> Tomar</button>
                                                            {% else %}
                                                                <small>
                                                                    Aun no es la fecha para el check-in!
                                                                </small>
                                                            {% endif %}
                                                        </td>
                                                        <td class="issue-info">
                                                            
                                                            <i class="fa fa-building"></i> {{detalle.fk_departamento.direccion}}

                                                            <small>
                                                                Costo por Noche: ${{detalle.fk_departamento.precioNoche|intcomma}}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-user-circle"></i> {{ detalle.fk_arriendo.fk_usuario.first_name}} {{ detalle.fk_arriendo.fk_usuario.last_name}}
                                                        </td>
                                                        <td>
                                                            {{ detalle.fk_reserva.fechaInicio|date:"D d M"  }}
                                                        </td>
                                                        
                                                        
                                                    </tr>
                                                    {% empty %}
                                                        <strong>No hay ningun Check-In por el momento</strong>
                                                {% endfor %}
                                                
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <i class="far fa-calendar-check"></i> Calendario Check-Out
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover issue-tracker">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'check_out' %}" class="btn btn-primary"><i class="fas fa-check-circle"></i> Registrar</a>
                                                    </td>
                                                    <td class="issue-info">
                                                        
                                                        <i class="fa fa-building"></i> Departamento "Las Condes 123"

                                                        <small>
                                                            Costo por Noche: $80.000
                                                        </small>
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-user-circle"></i> Pedro Araya
                                                    </td>
                                                    <td>
                                                        Sun 18 Nov
                                                    </td>
                                                </tr>
                                                <!--
                                                {% for detalle in check_out %}
                                                    <tr>
                                                        <td>
                                                            {% if detalle.fk_reserva.fechaInicio|date:"Y-m-d" <= today %}
                                                                <button type="button" class="btn btn-primary"><i class="fas fa-handshake"></i> Tomar</button>
                                                            {% else %}
                                                                <small>
                                                                    Aun no es la fecha para el check-in!
                                                                </small>
                                                            {% endif %}
                                                        </td>
                                                        <td class="issue-info">
                                                            
                                                            <i class="fa fa-building"></i> {{detalle.fk_departamento.direccion}}

                                                            <small>
                                                                Costo por Noche: ${{detalle.fk_departamento.precioNoche|intcomma}}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-user-circle"></i> {{ detalle.fk_arriendo.fk_usuario.first_name}} {{ detalle.fk_arriendo.fk_usuario.last_name}}
                                                        </td>
                                                        <td>
                                                            {{ detalle.fk_reserva.fechaInicio|date:"D d M"  }}
                                                        </td>
                                                        
                                                        
                                                    </tr>
                                                    {% empty %}
                                                        <strong>No hay ningun Check-Out por el momento</strong>
                                                                

                                                {% endfor %}
                                                -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-md-12">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        data-whatever="@Checkin">Check-in</button>
    <a href="{% url 'check_out' %}" class="btn btn-primary">Check-out</a>
</div>
            
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Check-in</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Detalles Arriendo</label>
                        <div class="card mb-3">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Departamento</h5>
                                <p class="card-text">This is a wider card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Titular reserva</h5>
                                <p class="card-text">This is a wider card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Check</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Observaciones:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Detalle ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })

</script>

{% endblock %}