{% extends 'AppIntranet/base.html' %}

{% load static %}

{% block title %} Turismo Real {% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Check out de departamento "{{departamento.direccion}}"</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'agenda' %}">Agenda departamento</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Check-in departamento</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<section class="py-8 py-lg-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-6 bg-white px-3 py-6 border-top border-top-5 border-primary rounded">
                    <h4 class="text-uppercase font-weight-bold">Pepito el de los palotes (Funcionario)</h4>
                    <div class="ibox-content">
                            <span>Usuario</span></a><br> <br>
                        <div class="table-responsive text-center">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Correo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for use in usuario_list %}
                                        <tr>
                                            <td>{{use.nombre}}</td>
                                            <td>{{use.apellidos}}</td>
                                            <td>{{use.direccion}}</td>  
                                            <td>{{use.telefono}}</td>    
                                            <td>{{use.Correo}}</td>     
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ibox-content">
                            <span>Ocupantes</span></a><br> <br>
                        <div class="table-responsive text-center">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Telefono</th>
                                        <th>edad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ocu in ocupante_list %}
                                        <tr>
                                            <td>{{ocu.nombre}}</td>
                                            <td>{{ocu.apellidos}}</td>
                                            <td>{{ocu.telefono}}</td>    
                                            <td>{{ocu.edad}}</td>     
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ibox-content">
                            <span>Departamento</span></a><br> <br>
                        <div class="table-responsive text-center">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>direccion</th>
                                        <th>descripcion</th>
                                        <th>Abono total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dep in dep_list %}
                                        <tr>
                                            <td>{{dep.imagen}}</td> <!--Debe hacer una conexion con la tabla de imagen depto para poder solicitarla-->
                                            <td>{{ocu.direccion}}</td>
                                            <td>{{ocu.descripcion}}</td>    
                                            <td>$100.000</td> <!--Debe haber un calculo de lo que pago con lo que falta-->     
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <span>Servicios Contratados</span></a><br> <br>
                    <div class="table-responsive text-center">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Tipo de servicio</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Fecha De servicio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ser in servicio_list %}
                                    <tr>
                                        <td>{{ser.Tipo}}</td>
                                        <td>{{ser.nombre}}</td>
                                        <td>{{ser.descripcion}}</td>    
                                        <td>{{ser.fechaRegistro|date:"Y-m-d"}}</td>     
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="ibox-content">
                            <span>Inventario Departamento</span></a><br> <br>
                        <div class="table-responsive text-center">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre Objeto</th>
                                        <th>Cantidad </th>
                                        <th>Descripcion</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for deta in detalles_list %}
                                        <tr>
                                            <td>{{deta.nombreObjeto}}</td>
                                            <td>{{deta.cantidad}}</td>
                                            <td>{{deta.descripcion}}</td>
                                            <td>1000</td> <!--Solicitar precio segun la BD-->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            <div class="form-group form-button">
                <input type="submit" id="btn_add" class="btn btn-primary" value="Descargar PDF" /> <input type="submit" id="btn_add2" class="btn btn-primary" value="Subir PDF" />
            </div>
        </div>
        
    </div>
</section>

{% endblock %}