{% extends 'AppIntranet/base.html' %}

{% load static %}

{% block title %} Turismo Real {% endblock %}

{% block section %}

<div class="row  border-bottom white-bg dashboard-header">
    
    <div class="col-md-12">
        <h2>Bienvenido a Turismo Real</h2>
        <strong>Intranet del sistema.</strong>
    </div>
    <div class="col-md-3">
        <div class="contact-box center-version">
    
            <a href="{% url 'mantenedores' %}">
    
                <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fas fa-toolbox"></i></button>
                <h3 class="m-b-xs"><strong>Mantenedores</strong></h3>
                Mantenedores de administración 
                del sistema.
    
            </a>
    
        </div>
    </div>

    <div class="col-md-3">
        <div class="contact-box center-version">
    
            <a href="{% url 'reporte' %}">
    
                <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fa fa-bar-chart-o"></i></button>
                <h3 class="m-b-xs"><strong>Reportes</strong></h3>
                Reportes generados a partir
                 de los datos del sistema. 
    
            </a>
    
        </div>
    </div>

    <div class="col-md-3">
        <div class="contact-box center-version">
    
            <a href="{% url 'agenda' %}">
    
                <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fa fa-calendar"></i></button>
                <h3 class="m-b-xs"><strong>Agenda</strong></h3>
                Agenda con los Check-In y Check-Out 
                por realizar.
    
            </a>
    
        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box center-version">
    
            <a href="{% url 'list_transporte' %}">
    
                <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fa fa-car"></i></button>
                <h3 class="m-b-xs"><strong>Transporte</strong></h3>
                Asignación de transporte<br>
    
            </a>
    
        </div>
    </div>
    
    <div class="footer">
        <div class="float-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Turismo Real</strong> Intranet &copy; 2020
        </div>
    </div>
</div>
{% endblock %}