<!DOCTYPE html>
<html>

<head>
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Turismo Real | Login</title>

  <link href="{% static "AppIntranet/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "AppIntranet/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

  <link href="{% static "AppIntranet/css/animate.css" %}" rel="stylesheet">
  <link href="{% static "AppIntranet/css/style.css" %}" rel="stylesheet">
  <link href="{% static "AppIntranet/css/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">

</head>

<body class="gray-bg">

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>

        <img class="card-img-top" src="{% static "assets/img/logoHD.png " %}" alt="Card image cap">

      </div>
      <h3>Bienvenido a Turismo Real</h3>
      <p>Inicio de Sesión.</p>
      <form id="form_log" class="m-t">
        {% csrf_token %}
        <div class="form-group">
          {{ form.usr }}
        </div>
        <div class="form-group">
          {{ form.pwd }}
        </div>

        <button id="btn_log" class="btn btn-primary block full-width m-b">Iniciar Sesión</button>

        <a href="#"><small>¿Olvido Su contraseña?</small></a>
        <p class="text-muted text-center"><small>¿No posee cuenta?</small></p>
      </form>

    </div>
  </div>

  <!-- Mainly scripts -->
  <script src="{% static "AppIntranet/js/jquery-3.1.1.min.js" %}"></script>
  <script src="{% static "AppIntranet/js/popper.min.js" %}"></script>
  <script src="{% static "AppIntranet/js/bootstrap.js" %}"></script>
  <script src="{% static "AppIntranet/js/plugins/sweetalert/sweetalert.min.js" %}"></script>

  <script type="text/javascript">

    //LOGIN
    $(document).ready(function () {

      $('#id_usr').on('paste', function (e) {
        e.preventDefault();
      });

      $('#id_usr').on('change', function (e) {
        var usr = e.target.value;
        validateUsername();
        validarFormulario();
      });

      $('#id_pwd').on('paste', function (e) {
        e.preventDefault();
      });

      $('#id_pwd').on('change', function (e) {
        var usr = e.target.value;
        validatePassword();
        validarFormulario();
      });

      function validarFormulario() {
        var username = $('#id_usr').val();
        if (validateUsername(username)) {
          var pass = $('#id_pwd').val();
          if (validatePassword(pass)) {
            return true;
          }
        }

        return false;
      }

      $("#btn_log").on("click", function (e) {
        if (validarFormulario()) {
          e.preventDefault();
          $.ajax({
            type: "POST",
            url: "/intranet/",
            data: $('#form_log').serialize(),
            success: function (data) {
              if (data.type == 'error') {
                swal({
                  title: data.tittle,
                  text: data.mensaje,
                  type: data.type,
                  confirmButtonText: 'Aceptar'
                })
              } else {
                swal({
                  title: data.tittle,
                  text: data.mensaje,
                  type: data.type,
                  confirmButtonText: 'Aceptar'
                }, function (result) {
                  window.location.href = '/intranet/index';
                });

              }
            },
            error: function (data) {
              swal({
                title: data.tittle,
                text: data.mensaje,
                type: data.type,
                confirmButtonText: 'Aceptar'
              })
            }
          });
        }
      })

      ///Funcion para validar que el input username no este vacio
      function validateUsername(username) {

        if (username.length === 0) {
          $('#id_usr')[0].setCustomValidity("Debe ingresar Nombre usuario.")
          return false
        }
        else {
          $('#id_usr')[0].setCustomValidity("")

          return true
        }
      }

      /*Funcion para validar que el input password no este vacio 
      */
      function validatePassword(pass) {
        var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
        if (pass.length === 0) {
          $('#id_pwd')[0].setCustomValidity("Debe ingresar contraseña")
          return false
        } else {
          $('#id_pwd')[0].setCustomValidity("")
          return true
        }
      }

    });
        //Fin LOGIN

  </script>

</body>

</html>