<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <!--<img alt="image" class="rounded-circle" src="img/profile_small.jpg" />-->
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">David Williams</span>
                        <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">Perfil</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="login.html">Cerrar Sesión</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li >
                <a href="{% url 'mantenedores' %}"><i class="fa fa-th-large"></i> <span class="nav-label">Mantenedores</span>
                    <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ><a href="{% url 'list_usr' %}">Usuarios</a></li>
                    <li><a href="{% url 'list_depa' %}">Departamentos</a></li>
                    <li><a href="{% url 'list_serv' %}">Servicios</a></li>
                    <li><a href="{% url 'list_estados' %}">Tipo Estado Arriendo</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'reporte' %}"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reportes</span></a>
            </li>
            <li>
                <a href="{% url 'agenda' %}"><i class="fa fa-calendar"></i> <span class="nav-label">Agenda</span></a>
            </li>
        </ul>

    </div>
</nav>