
{% extends 'AppIntranet/base.html' %}

{% load static %}

{% block title %} Mantenedor Usuario {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}   
    
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mantenedor de datos de Usuarios</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Mantenedor Usuario</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Usuarios </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                       
                    </div>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'create_usr' %}" class="btn btn-w-m btn-primary"><i class="fa fa-plus-circle"></i>
                        <span>Agregar Usuario</span></a><br> <br>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Rut</th>
                                    <th>Nombre usuario</th>
                                    <th>Nombre Completo</th>
                                    <th>Correo</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Tipo Usuario</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usr in usuarios_list %}
                                    <tr>
                                        <td>{{usr.rut}}</td>
                                        <td>{{usr.username}}</td>
                                        <td>{{usr.first_name}} {{usr.last_name}}</td>
                                        <td>{{usr.email}}</td>
                                        <td>{{usr.direccion}}</td>
                                        <td>{{usr.telefono}}</td>    
                                        <td>{{usr.fk_tipo_usuario}}</td>
                                        <td>
                                            <a href="{% url 'edit_usr' pk=usr.pk %}" class="btn btn-primary  dim"><i class="fa fa-edit"></i></a>
                                        </td>    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


    
{% endblock %}
