{% extends 'AppIntranet/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mantenedor de datos de Departamentos</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Mantenedor Departamento</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Departamentos </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                       
                    </div>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'create_depa' %}" class="btn btn-w-m btn-primary"><i class="fa fa-plus-circle"></i>
                        <span>Agregar Departamento</span></a><br> <br>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Direccion</th>
                                    <th>Metros </th>
                                    <th>Personas</th>
                                    <th>Baños</th>
                                    <th>Dormitorios</th>
                                    <!--<th>Descripcion</th>-->
                                    <th>Precio</th>
                                    <!--<th>Comuna</th>-->
                                    <th>Imagen</th>
                                    <th>Mantencion</th>
                                    <th>Inventario</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for depa in departamentos_list %}
                                    <tr>
                                        <div class="tooltip-demo">
                                            <td><img src="/media/{{depa.imagen}}" class="rounded-circle img-md" data-toggle="tooltip" data-placement="top" title="{{depa.imagen}}"></td>
                                        </div>
                                        <td>{{depa.direccion}}</td>
                                        <td>{{depa.metros}}m
                                            <sup>2</sup></td>
                                        <td>{{depa.cantPersonas}}</td>
                                        <td>{{depa.cantBanios}}</td>
                                        <td>{{depa.cantDormitorios}}</td>
                                        <!--<td>{{depa.descripcion}}</td>-->
                                        <td>${{depa.precioNoche|intcomma}}</td>
                                        <!--<td>{{depa.fk_comuna}}</td>-->
                                        <td>
                                            <a href="{% url 'list_img' pk=depa.pk %}" class="btn btn-outline btn-success">Imagenes</a><!--<i class="fa fa-eye"></i>-->
                                        </td>
                                        <td>
                                            <a href="{% url 'list_mant' pk=depa.pk %}" class="btn btn-outline btn-success">Mantenciones</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'list_inv' pk=depa.pk %}" class="btn btn-outline btn-success">Inventarios</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'edit_depa' pk=depa.pk %}" class="btn btn-primary  dim"><i class="fa fa-edit"></i></a>
                                        </td>


                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}