<!DOCTYPE html>
<html lang="en">
  
  <head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Turismo Real{% endblock %}</title>

    {% load static %}

    <!-- Plugins css Style -->
    <link href="{% static "assets/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/no-ui-slider/nouislider.min.css" %}" rel="stylesheet" />
    <link href="{% static "assets/plugins/owl-carousel/owl.carousel.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "assets/plugins/owl-carousel/owl.theme.default.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "assets/plugins/fancybox/jquery.fancybox.min.css" %}" rel="stylesheet" />
    <link href="{% static "assets/plugins/fancybox/fancyMorph.css" %}" rel="stylesheet" />
    <link href="{% static "assets/plugins/isotope/isotope.min.css" %}" rel="stylesheet" />
    <link href="{% static "assets/plugins/animate/animate.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/select2/css/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/daterangepicker/css/daterangepicker.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/revolution/css/settings.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/menuzord/css/menuzord.css" }%}" rel="stylesheet">
    <link href="{% static "assets/plugins/menuzord/css/menuzord-animations.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/dzsparallaxer/dzsparallaxer.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/selectric/selectric.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/rateyo/jquery.rateyo.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/slick/slick.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/slick/slick-theme.css" %}" rel="stylesheet">

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet'>

    <!-- CUSTOM CSS -->
    <link href="{% static "assets/css/star.css" %}" id="option_style" rel="stylesheet">
    <link href="{% static "AppIntranet/css/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">
    


    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="{% static "assets/img/favicon2.png" %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% block add_head %}{% endblock %}
  </head>     

<body id="body" class="up-scroll" data-spy="scroll" data-target=".element-right-sidebar">
  

  {% block bar_nav %}{% include 'AppWeb/nav.html' %}{% endblock %}
    
  {% block section %}Cuerpo{% endblock %}
    <!-- ====================================
    ——— FOOTER SECTION
    ===================================== -->
    <footer class="footer">
      <div class="footer-bg-color py-9">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 mb-7 mb-lg-0">
              <a class="d-inline-block" href="/">
                <img  src="{% static "assets/img/logo-color-big.png" %}" alt="img">
              </a>
              <p class="mb-0">Somos una empresa de Turismo, encargada de ofrecer la mejor experiencia de viaje y estadia a nuestros clientes.</p>
            </div>
    
            <div class="col-md-6 col-lg-3 mt-md-4 mb-7 mb-lg-0">
              <div class="title-tag">
                <h6>Contactanos</h6>
              </div>

              <p>Contactanos a traves de nuestras redes sociales o nuestro correo de atencion a clientes.</p>
              <ul class="list-unstyled mb-0">
                <li class="media mb-2">
                  <div class="mr-3">
                    <i class="fa fa-home" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                     <a href="contact.html">Calle Falsa 123, Santiago de Chile</a>
                  </div>
                </li>

                <li class="media mb-2">
                  <div class="mr-3">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <a href="tel:+56979844631">+569 7986 4631</a>
                  </div>
                </li>
                
                <li class="media">
                  <div class="mr-3">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <a href="mailTo:info@star-travel.com">info@turismo.real.com</a>
                  </div>
                </li>
              </ul>
            </div>
    
            <div class="col-md-6 col-lg-3 mt-lg-4 mb-7 mb-md-0">
              <div class="title-tag pb-1">
                <h6>Galeria</h6>
              </div>

              <div class="row mr-auto gallery mb-2 mb-md-0">
                <div class="col-4 mb-3">
                  <div class="media media-hover">
                    <div class="content w-100">
                      <img class="media-img" data-src="{% static "assets/img/home/gallery/thumb-gallery-1.jpg" %}"
                        src="{% static "assets/img/home/gallery/thumb-gallery-1.jpg" %}" alt="gallery-img">
                      <a class="media-img-overlay" data-fancybox="gallery" href="{% static "assets/img/home/gallery/gallery-1.jpg" %}"></a>
                    </div>
                  </div>
                </div>

                <div class="col-4 mb-3">
                  <div class="media media-hover">
                    <div class="content w-100">
                      <img class="media-img" data-src="{% static "assets/img/home/gallery/thumb-gallery-2.jpg" %}"
                        src="{% static "assets/img/home/gallery/thumb-gallery-2.jpg" %}" alt="gallery-img">
                      <a class="media-img-overlay" data-fancybox="gallery" href="{% static "assets/img/home/gallery/gallery-2.jpg" %}"></a>
                    </div>
                  </div>
                </div>

                <div class="col-4 mb-3">
                  <div class="media media-hover">
                    <div class="content w-100">
                      <img class="media-img" data-src="{% static "assets/img/home/gallery/thumb-gallery-3.jpg" %}"
                        src="{% static "assets/img/home/gallery/thumb-gallery-3.jpg" %}" alt="gallery-img">
                      <a class="media-img-overlay" data-fancybox="gallery" href="{% static "assets/img/home/gallery/gallery-3.jpg" %}"></a>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="media media-hover">
                    <div class="content w-100">
                      <img class="media-img" data-src="{% static "assets/img/home/gallery/thumb-gallery-4.jpg" %}"
                        src="{% static "assets/img/home/gallery/thumb-gallery-4.jpg" %}" alt="gallery-img">
                      <a class="media-img-overlay" data-fancybox="gallery" href="{% static "assets/img/home/gallery/gallery-4.jpg" %}"></a>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="media media-hover">
                    <div class="content w-100">
                      <img class="media-img" data-src="{% static "assets/img/home/gallery/thumb-gallery-5.jpg" %}"
                        src="{% static "assets/img/home/gallery/thumb-gallery-5.jpg" %}" alt="gallery-img">
                      <a class="media-img-overlay" data-fancybox="gallery" href="{% static "assets/img/home/gallery/gallery-5.jpg" %}"></a>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="media media-hover">
                    <div class="content w-100">
                      <img class="media-img" data-src="{% static "assets/img/home/gallery/thumb-gallery-6.jpg" %}"
                        src="{% static "assets/img/home/gallery/thumb-gallery-6.jpg" %}" alt="gallery-img">
                      <a class="media-img-overlay" data-fancybox="gallery" href="{% static "assets/img/home/gallery/gallery-6.jpg" %}"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-3 mt-lg-4">
              <div class="title-tag">
                <h6>Noticias y ofertas</h6>
              </div>

              <p>Puedes suscribirte con tu correo para recibir ofertas y noticias de nosotros.</p>
              <form class="mb-6" action="index.html" method="post">
                <div class="input-group input-group-sm">
                  <input type="email" class="form-control form-control-sm form-transparent" required="" placeholder="Ingresa tu correo">
                  <div class="input-group-append">
                    <button class="input-group-text border-0 btn btn-append hover-bg-primary" type="submit">
                      <i class="fa fa-long-arrow-right text-white" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </form>

              <ul class="list-inline d-flex mb-0">
                <li class="mr-3 mr-lg-2 mr-xl-3">
                  <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                    <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                  </a>
                </li>

                <li class="mr-3 mr-lg-2 mr-xl-3">
                  <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                    <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                  </a>
                </li>

                <li class="mr-3 mr-lg-2 mr-xl-3">
                  <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                    <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                  </a>
                </li>

                <li class="mr-3 mr-lg-2 mr-xl-3">
                  <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                    <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                  </a>
                </li>

                <li class="">
                  <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                    <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
      <div class="copyright py-6">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-0">
              <p class="mb-0 mb-md-0 text-md-left">Copyright &copy; 2020 TODOS los derechos reservados por
                <a href="http://www.iamabdus.com/" target="_blank">TR</a>
              </p>
            </div>
            
            <div class="col-md-6">
              <ul class="list-inline text-capitalize d-flex align-items-center justify-content-md-end justify-content-center mb-md-0">
                <li class="mr-3">
                  <a href="setting.html">Politica de privacidad</a>
                </li>
    
                <li class="mr-3">
                  <a href="about-us.html">Sobre nosotros</a>
                </li>
    
                <li class="mr-3">
                  <a href="contact.html">Soporte</a>
                </li>
    
                <li class="">
                  <a href="blog-single-right-sidebar.html">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>



    <!-- Javascri{% static "pt -->
    <script src="{% static "assets/plugins/jquery/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "assets/plugins/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "assets/plugins/fancybox/jquery.fancybox.min.js" %}"></script>
    <script src="{% static "assets/plugins/isotope/isotope.min.js" %}"></script>
    <script src="{% static "assets/plugins/syotimer/jquery.syotimer.min.js" %}"></script>
    <script src="{% static "assets/plugins/select2/js/select2.min.js" %}"></script>
    <script src="{% static "assets/plugins/daterangepicker/js/moment.min.js" %}"></script>
    <script src="{% static "assets/plugins/daterangepicker/js/daterangepicker.min.js" %}"></script>
    <script src="{% static "assets/plugins/velocity/velocity.min.js" %}"></script>
    <script src="{% static "assets/plugins/images-loaded/js/imagesloaded.pkgd.min.js" %}"></script>
    <script src="{% static "assets/plugins/revolution/js/jquery.themepunch.tools.min.js" %}"></script>
    <script src="{% static "assets/plugins/revolution/js/jquery.themepunch.revolution.min.js" %}"></script>
    
    <script src="{% static "assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
    <script src="{% static "assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
    <script src="{% static "assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js" %}"></script>

    <script src="{% static "assets/plugins/menuzord/js/menuzord.js" %}"></script>
    <script src="{% static "assets/plugins/dzsparallaxer/dzsparallaxer.js" %}"></script>
    <script src="{% static "assets/plugins/slick/slick.min.js" %}"></script>
    <script src="{% static "assets/plugins/selectric/jquery.selectric.min.js" %}"></script>
    <script src="{% static "assets/plugins/no-ui-slider/nouislider.min.js" %}"></script>
    <script src="{% static "assets/plugins/rateyo/jquery.rateyo.min.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU79W1lu5f6PIiuMqNfT1C6M0e_lq1ECY"></script>
    <script src="{% static "assets/js/star.js" %}"></script>
    <script src="{% static "AppIntranet/js/plugins/sweetalert/sweetalert.min.js" %}"></script>
    <script src="https://kit.fontawesome.com/a338bd054d.js" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>