{% extends 'AppWeb/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}

<style>
    .spad {
        padding-top: 0px;

    }
</style>

{% endblock %}

{% block section %}

<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken"
        style="background-image: url({% static 'assets/img/pages/page-title-bg10.jpg' %});">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-9 col-xl-8">
                    <div class="page-title-content py-7 py-md-8">
                        <div class="">
                            <h2 class="text-uppercase text-white font-weight-bold">Contratar Servicio</h2>
                        </div>
                        <p class="text-white mb-0">Aquí podrá contratar servicio de agendamiento o algun tour.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-7 pb-9 pb-lg-10">
    <div class="container">
        <div class="row">
            <h1 class="element-title">Contratación Acercamiento</h1>
            <div class="col-md-12">
                <!--region  Transporte Acercamiento-->
                <div class="d-flex justify-content-between border-bottom mb-5 pb-5">
                
                    <div class="col-md-6">
                        <div class="row py-4">
                            <label class="control-label col-xl-7 text-center text-xl-right">¿Le gustaria acercamiento al
                                departamento?</label>
                            <div class="col-xl-5">
                                <div class="count-input mx-auto">
                                    <div class="custom-control custom-radio mb-1">
                                        <input id="transporte1" name="transporte" type="radio" class="custom-control-input"
                                            value="trans_si">
                                        <label class="custom-control-label radio-control-label" for="transporte1">
                                            Si
                                        </label>
                                    </div>

                                    <div class="custom-control custom-radio mb-1">
                                        <input id="transporte2" name="transporte" type="radio" class="custom-control-input"
                                            checked value="trans_no">
                                        <label class="custom-control-label radio-control-label" for="transporte2">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-6">
                        <div class="Box py-4" style="display:none;">
                            <div class="form-group">
                                <label for="exampleInputText">Seleccione acercamiento</label>
                                <div class="select-default">
                                    <select class="select-option">
                                        <option>Seleccione opción</option>
                                        <option>Desde aeropuerto: $50.000</option>
                                        <option>Desde terminal de bus: $30.000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
                </div>
                <!--endregion  Transporte Acercamiento-->
            </div>
        </div>
        <div class="row">
            <h1 class="element-title">Contratación Tour</h1>
            <div class="col-md-12">
                <!--region  TOURS-->
                <div class="d-flex justify-content-between border-bottom mb-5 pb-5">
                    <div class="col-md-6">
                        <div class="row py-4">
                            <label class="control-label col-xl-7 text-center text-xl-right">¿Le gustaria hacer un
                                Tour?</label>
                            <div class="col-xl-5">
                                <div class="count-input mx-auto">
                                    <div class="custom-control custom-radio mb-1">
                                        <input id="tour1" name="tour" type="radio" class="custom-control-input"
                                            value="tour_si">
                                        <label class="custom-control-label radio-control-label" for="tour1">
                                            Si
                                        </label>
                                    </div>

                                    <div class="custom-control custom-radio mb-1">
                                        <input id="tour2" name="tour" type="radio" class="custom-control-input" checked
                                            value="tour_no">
                                        <label class="custom-control-label radio-control-label" for="tour2">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="Box1 py-4" style="display:none;">
                            <div class="form-group mb-5">
                                <div class="row">
                                    <label for="inputTime"
                                        class="col-xl-4 col-form-label text-center text-xl-right px-2">Fecha
                                        Tour:</label>
                                    <div class="col-xl-8">
                                        <div class="form-group form-group-icon form-group-icon-category-2 mb-0">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <input type="text" class="form-control daterange-picker-category-2"
                                                name="dateRange" value="" placeholder="DD/MM/YYYY">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputText">Seleccione Tour</label>
                                <div class="select-default">
                                    <select class="select-option">
                                        <option>Seleccione Tour</option>
                                        <option>Villarica: $50.000</option>
                                        <option>Pucon: $50.000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Endregion  TOURS-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="mb-5">
                    <h1 class="element-title">Servicio Acercamiento Agendado</h1>
                    <p class="mb-6 line-height-28 h4">En la siguiente tabla podrá ver la signación de su acercamiento
                    </p>

                    <div class="row">
                        <div class="col-lg-12">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Tramo</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Fecha Transporte</th>
                                        <th scope="col">Conductor</th>
                                        <th scope="col">Vehiculo</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Aeropuesto -> Depa</td>
                                        <td>$50.000</td>
                                        <td>10/12/2020</td>
                                        <td>Pedro Aguilar</td>
                                        <td>Hyundai H1 (PG-HJ-20)</td>
                                        <td>Asignado</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="mb-5">
                    <h1 class="element-title">TOURS Agendados</h1>
                    <p class="mb-6 line-height-28 h4">En la siguiente tabla podrá ver los tours agendados
                    </p>

                    <div class="row">
                        <div class="col-lg-12">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Imagen</th>
                                        <th scope="col">Tour(nombre)</th>
                                        <th scope="col">Duración</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Cantidad Personas</th>
                                        <th scope="col">Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>imagen</td>
                                        <td>Pucón</td>
                                        <td>1 dia</td>
                                        <td>12/12/2020</td>
                                        <td>4 Personas</td>
                                        <td>$200.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}

{% block scripts %}

<script type="text/javascript">

    
    $(document).ready(function () {

        $('input[type="radio"]').click(function () {
            if ($(this).attr("value") == "trans_si") {
                $(".Box").show('slow');
            }
            if ($(this).attr("value") == "trans_no") {
                $(".Box").hide('slow');
            }
            if ($(this).attr("value") == "tour_si") {
                $(".Box1").show('slow');
            }
            if ($(this).attr("value") == "tour_no") {
                $(".Box1").hide('slow');

            }
        });

        $('input[type="radio"]').trigger('click');  // trigger the event

    });



</script>

{% endblock %}