{% extends 'AppWeb/base.html' %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}


{% endblock %}

{% block section %}



<div class="main-wrapper hotels-list">
  <!-- ====================================
    ———	SEARCH SECTION
    ===================================== -->
  <section class="bg-dark-light py-7">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3">
          <div class="section-title-bg mb-1 mb-lg-3 mb-xl-0">
            <h1 class="text-white text-uppercase mb-0">Busca</h1>
            <h2 class="text-white text-uppercase font-weight-bold mb-0">tu <span class="text-primary">reserva</span>
            </h2>
          </div>
        </div>

        <div class="col-xl-9">
          <form class="" action="index.html" method="GET">
            <div class="row">
              <div class="col-lg-9">
                <div class="row">


                  <div class="col-md-6 col-lg-3">
                    <div class="form-group form-group-icon mb-lg-0">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <input type="text" class="form-control daterange-picker" name="dateRange" value=""
                        placeholder="dd/mm/yyyy" />
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-3">
                    <div class="form-group form-group-icon mb-lg-0">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <input type="text" class="form-control daterange-picker" name="dateRange" value=""
                        placeholder="dd/mm/yyyy" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-1 hotels-grid-left-sidebar">
                <button class="btn btn-primary text-uppercase" type="button"
                  onclick="location.href='javascript:void(0)';">
                  Buscar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-smoke py-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="mb-md-6">
            <div class="row align-items-center">
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-5 mb-md-0 bg-white">
                  <div class="select-default select-category-2">
                    <select class="select-option">
                      <option>Ordernar por calificación</option>
                      <option>Ordenar por precio</option>
                      <option>Ordenar por popularidad</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xl-8 d-none d-md-block">
                <div class="d-flex justify-content-md-end">
                  <a href="" class="icon-md bg-primary rounded shadow">
                    <i class="fa fa-bars text-white" aria-hidden="true"></i>
                  </a>

                  <a href="hotels-grid-left-sidebar.html" class="icon-md bg-white rounded shadow ml-3">
                    <i class="fa fa-th text-gray-color" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% for depa in departamentos_list %}
          <div
            class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
            <div class="media-img position-relative">
              <img class="img-fluid position-relative" src="/media/{{depa.imagen}}" alt="gallery-img">
              <a class="media-img-overlay" data-fancybox="gallery" href="/media/{{depa.imagen}}"></a>
            </div>

            <div class="media-body">
              <div class="row">
                <div class="col-md-7 col-xl-8">
                  <a href="{% url 'detail_depto' pk=depa.pk %}" class="card-title text-uppercase">{{depa.direccion}}</a>
                  <p class="mb-md-0">{{depa.descripcion}}</p>
                  <br>
                  <br>
                  <div class="date-view pt-3">
                    <span><i class="fa fa-bath mb-4" aria-hidden="true"></i> {{depa.cantBanios}}</span>
                    <span><i class="fa fa-bed" aria-hidden="true"></i> {{depa.cantDormitorios}}</span>
                  </div>
                </div>

                <div class="col-md-5 col-xl-4">
                  <div class="bg-primary text-center p-3 view-details">
                    <h2 class="text-white font-weight-bold h1"> $ {{depa.precioNoche|intcomma}} </h2>
                    <p class="text-white text-capitalize">Valor Noche</p>

                    <div>
                      <a href="{% url 'detail_depto' pk=depa.pk %}"
                        class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Ver
                        Detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>


    <!-- ====================================
———	PAGINATION
===================================== -->
    <section class="pt-5 pt-md-7">
      <div class="container">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center align-items-center">
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)" tabindex="-1">
                <i class="fa fa-long-arrow-left d-none d-md-inline-block mr-md-1" aria-hidden="true"></i> Previous
              </a>
            </li>

            <li class="page-item">
              <a class="page-link active" href="javascript:void(0)">1</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">2</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">3</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">...</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">9</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">Next
                <i class="fa fa-long-arrow-right d-none d-md-inline-block ml-md-1" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

  </section>
</div>

{% endblock %}

{% block scripts %}

<script>

  $(function () {
    var anio = new Date()

    $(".datepicker").datepicker({
      dateFormat: "mm-dd-yy",
      changeMonth: true,
      changeYear: true,
      yearRange: anio.getFullYear() + ":2050",
      // You can put more options here.

    });
  });

  $(document).ready(function () {


    $("#btn_disp").on("click", function (e) {
      var inicio = $("#fecha_inicio").val();
      console.log(inicio)

      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/busca/departamento",
        data: $('#form_disp').serialize(),
        success: function (data) {
          if (data.type == 'error') {
            swal({
              title: data.tittle,
              text: data.mensaje,
              type: data.type,
              confirmButtonText: 'Aceptar'
            })
          } else {
            swal({
              title: data.tittle,
              text: data.mensaje,
              type: data.type,
              confirmButtonText: 'Aceptar'
            }).then((result) => {
              if (result.value) {
                window.location.href = '/';
              }
            })
          }
        },
        error: function (data) {
          swal({
            title: data.tittle,
            text: data.mensaje,
            type: data.type,
            confirmButtonText: 'Aceptar'
          })
        }
      });
    })

  });
</script>

{% endblock %}