{% extends 'AppWeb/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}

<style>
  .package-slider img {
    height: 300px !important;
  }
</style>
{% endblock %}

{% block section %}


<!-- ====================================
———	PAGE TITLE
===================================== -->
<section class="page-title">
  <div class="page-title-img bg-img bg-overlay-darken" style="background-image: url( /media/{{departamento.imagen}} );">
    <div class="container">
      <div class="row align-items-center justify-content-center" style="height: 200px;">
        <div class="col-lg-6">
          <div class="page-title-content">
            <div class="">
              <h2 class="text-uppercase text-white font-weight-bold">{{departamento.direccion}}</h2>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	PACKAGES SECTION
===================================== -->
<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ">
        <form >
          <div class="card border">
            <h2 class="card-header text-uppercase text-center bg-smoke border-bottom">
              Disponibilidad para reserva
            </h2>
            <div class="card-body px-3 py-4">
              <div class="border-bottom mb-5">
                <div class="form-group mb-5">
                  <div class="row">
                    <label for="inputTime"
                      class="col-xl-5 col-form-label text-center text-xl-right px-2">Llegada:</label>
                    <div class="col-xl-7">
                      <div class="form-group form-group-icon form-group-icon-category-2 mb-0">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <input type="text" class="form-control daterange-picker-category-2" name="dateRange" value=""
                          placeholder="DD/MM/YYYY">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group mb-5">
                  <div class="row">
                    <label for="inputTime"
                      class="col-xl-5 col-form-label text-center text-xl-right px-2">Salida:</label>
                    <div class="col-xl-7">
                      <div class="form-group form-group-icon form-group-icon-category-2 mb-0">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <input type="text" class="form-control daterange-picker-category-2" name="dateRange" value=""
                          placeholder="DD/MM/YYYY">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group mb-5">
                  <div class="row align-items-center">
                    <label class="control-label col-xl-5 text-center text-xl-right">Adultos:</label>
                    <div class="col-xl-5">
                      <div class="count-input mx-auto">
                        <a class="incr-btn" data-action="decrease" href="#">–</a>
                        <input class="quantity" type="number" value="1">
                        <a class="incr-btn" data-action="increase" href="#">+</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-5">
                  <div class="row align-items-center">
                    <label class="control-label col-xl-5 text-center text-xl-right">Niños:</label>
                    <div class="col-xl-5">
                      <div class="count-input mx-auto">
                        <a class="incr-btn" data-action="decrease" href="#">–</a>
                        <input class="quantity" type="number" value="1">
                        <a class="incr-btn" data-action="increase" href="#">+</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--region  Transporte Acercamiento-->
              <div class="d-flex justify-content-between border-bottom mb-5 pb-5">
                <div class="row align-items-center">
                  <label class="control-label col-xl-7 text-center text-xl-right">¿Le gustaria acercamiento al departamento?</label>
                  <div class="col-xl-5">
                    <div class="count-input mx-auto">
                      <div class="custom-control custom-radio mb-1">
                        <input id="transporte1" name="transporte" type="radio" class="custom-control-input"
                          value="trans_si">
                        <label class="custom-control-label radio-control-label" for="transporte1">
                          Si
                        </label>
                      </div>

                      <div class="custom-control custom-radio mb-1">
                        <input id="transporte2" name="transporte" type="radio" class="custom-control-input" checked
                          value="trans_no">
                        <label class="custom-control-label radio-control-label" for="transporte2">
                          No
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="Box py-4" style="display:none;">
                      <div class="form-group">
                        <label for="exampleInputText">Seleccione acercamiento</label>
                        <div class="select-default">
                          <select class="select-option">
                            <option>Seleccione opción</option>
                            <option>Desde aeropuerto: $50.000</option>
                            <option>Desde terminal de bus: $30.000</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--endregion  Transporte Acercamiento-->

              <!--region  TOURS-->
              <div class="d-flex justify-content-between border-bottom mb-5 pb-5">
                <div class="row align-items-center">
                  <label class="control-label col-xl-7 text-center text-xl-right">¿Le gustaria hacer un Tour?</label>
                  <div class="col-xl-5">
                    <div class="count-input mx-auto">
                      <div class="custom-control custom-radio mb-1">
                        <input id="tour1" name="tour" type="radio" class="custom-control-input" value="tour_si">
                        <label class="custom-control-label radio-control-label" for="tour1">
                          Si
                        </label>
                      </div>

                      <div class="custom-control custom-radio mb-1">
                        <input id="tour2" name="tour" type="radio" class="custom-control-input" checked value="tour_no">
                        <label class="custom-control-label radio-control-label" for="tour2">
                          No
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="Box1 py-4" style="display:none;">
                      <div class="form-group mb-5">
                        <div class="row">
                          <label for="inputTime"
                            class="col-xl-4 col-form-label text-center text-xl-right px-2">Fecha Tour:</label>
                          <div class="col-xl-8">
                            <div class="form-group form-group-icon form-group-icon-category-2 mb-0">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <input type="text" class="form-control daterange-picker-category-2" name="dateRange" value=""
                                placeholder="DD/MM/YYYY">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputText">Seleccione Tour</label>
                        <div class="select-default">
                          <select class="select-option">
                            <option>Seleccione Tour</option>
                            <option>Villarica: $50.000</option>
                            <option>Pucon: $50.000</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Endregion  TOURS-->

              <div class="form-group mb-5 border-bottom mb-5 pb-5">
                <span class="text-uppercase h4 mb-0">Total cost</span>
                <span class="font-weight-bold text-primary h3 mb-0">$198</span>
              </div>

              {% if user.is_authenticated %}
              <div class="text-center px-4">
                <!--
                <button type="button" class="btn btn-hover btn-lg btn-block btn-outline-secondary text-uppercase">
                  LO QUIERO RESERVAR!<span class="ml-4"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </button>
                -->
                <a href="{% url 'reserva_depto' pk=departamento.pk %}" class="btn btn-hover btn-lg btn-block btn-outline-secondary text-uppercase">
                  LO QUIERO RESERVAR!<span class="ml-4"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
              </div>
              {% else %}
              <div class="text-center px-4">
                <button type="button" onclick="javascript:void(0)" data-toggle="modal" data-target="#login"
                  class="btn btn-hover btn-lg btn-block btn-outline-secondary text-uppercase">
                  LO QUIERO RESERVAR!<span class="ml-4"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </button>
              </div>
              {% endif %}
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-8 ">
        <h4 class="text-uppercase mb-5">Imagenes del departamento</h4>
        <div id="package-slider" class="owl-carousel owl-theme package-slider">
          {% for img in imagenes %}
          <div class="item">
            <img class="media-img rounded w-100" src="/media/{{img.imagen}}" alt="Generic placeholder image">
          </div>
          {% endfor %}
        </div>

        <div class="mt-8">
          <h2 class="text-uppercase mb-5">Descripción</h2>
          <p class="mb-6">{{departamento.descripcion}}</p>

          <div class="mb-5">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Ubicación: {{departamento.direccion}}</p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Cantidad de metros: <span>{{departamento.metros}}m
                          <sup>2</sup>
                        </span></p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Cantidad de Personas: {{departamento.cantPersonas}}</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Cantidad de Dormitorios: {{departamento.cantDormitorios}}</p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Cantidad de Baños: {{departamento.cantBanios}}</p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Precio por Noche: <span
                          class="text-primary font-weight-bold">${{departamento.precioNoche|intcomma}}</span></p>
                    </div>
                  </li>
                </ul>
              </div>
              <br>
              <div class="col-md-12 mb-6 border-bottom">

                <div class="d-md-flex justify-content-between align-items-center mb-5">
                  <ul
                    class="list-unstyled d-flex flex-wrap justify-content-center justify-content-md-start font-weight-medium mb-md-0">
                    <li class="">
                      <a href="" class="text-gray-color hover-text-primary mr-4">
                        <img class="mr-2" src="{% static 'assets/img/packages/shape-icon-1.png' %}"
                          alt="Image">Breakfast
                      </a>
                    </li>
                    <li class="">
                      <a href="" class="text-gray-color hover-text-primary mr-4">
                        <img class="mr-2" src="{% static 'assets/img/packages/shape-icon-2.png' %}" alt="Image">Plasma
                        TV
                      </a>
                    </li>

                    <li class="">
                      <a href="" class="text-gray-color hover-text-primary">
                        <img class="mr-2" src="{% static 'assets/img/packages/shape-icon-3.png' %}" alt="Image">Free
                        wifi
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row py-7">
      <div class="container">
        <div class="text-uppercase mb-4">
          <h2 class="mb-0">SERVICIOS Y TOURS DISPONIBLES</h2>
        </div>
        <div class="row">
          <div class="col-md-5 col-lg-4 order-2">
            <div class="card card-bg">
              <a href="single-package-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="{% static 'assets/img/home/deal/deal-01.jpg' %}" alt="IMAGEN TOUR">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <!--
                  <div class="badge badge-primary badge-rounded-circle">  
                      <span class="d-block">
                      45%<br>off
                    </span>
                  </div>
                  -->

                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                  </ul>

                  <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
                    <li class="pr-2">DURACION</li>
                  </ul>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-package-right-sidebar.html" class="card-title text-uppercase">NOMBRE TOUR</a>
                </h5>

                <p class="mb-7">DESCRIPCIÓN TOUR</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">PRECIO X PERSONA</p>
                    <h3 class="text-primary">$COSTO</h3>
                  </div>

                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-outline-secondary text-uppercase">RESERVAR</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-lg-4 order-2">
            <div class="card card-bg">
              <a href="single-package-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="{% static 'assets/img/home/deal/deal-02.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <div class="badge badge-primary badge-rounded-circle">
                    <span class="d-block">
                      50%<br>off
                    </span>
                  </div>

                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                  </ul>

                  <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
                    <li class="border-right border-white pr-2">7 days</li>
                    <li class="border-right border-white px-2">15 hrs</li>
                    <li class="pl-2">15 min</li>
                  </ul>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-package-right-sidebar.html" class="card-title text-uppercase">Australia /
                    Canberra</a>
                </h5>

                <p class="mb-7">Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus
                  et
                  pharetra
                  egestas.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Start from</p>
                    <h3 class="text-primary">$299</h3>
                  </div>

                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
                    <a href="" class="btn btn-xs btn-outline-secondary px-4">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-lg-4 order-2">
            <div class="card card-bg">
              <a href="single-package-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="{% static 'assets/img/home/deal/deal-03.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <div class="badge badge-primary badge-rounded-circle">
                    <span class="d-block">
                      40%<br>off
                    </span>
                  </div>

                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                  </ul>

                  <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
                    <li class="border-right border-white pr-2">7 days</li>
                    <li class="border-right border-white px-2">15 hrs</li>
                    <li class="pl-2">15 min</li>
                  </ul>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-package-right-sidebar.html" class="card-title text-uppercase">Jarmani / Berlin</a>
                </h5>

                <p class="mb-7">Donec lacus felis, dapibus males uada massa non, ferm entum tincidunt quam. Orci
                  varius
                  natoque.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Start from</p>
                    <h3 class="text-primary">$299</h3>
                  </div>

                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
                    <a href="" class="btn btn-xs btn-outline-secondary px-4">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        
      </div>
    </div>

  </div>
</section>

<!-- ====================================
    ——— MODAL SECTION
    ===================================== -->

<!-- Login Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-label="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header rounded">
        <label href="modal-title text-center">Ingresa tu usuario en Turismo Real</label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="register-form" id="form_log" action="index.html">
          {% csrf_token %}
          <div class="mb-3 modal-title alert alert-danger align-items-center" role="alert">
            Para reservar debes estar registrado!
            Ingresa con tu usuario o registrate
          </div>
          <div class="form-group">
            {{ form.usr }}
          </div>
          <div class="form-group">
            {{ form.pwd }}
          </div>
          <div class="form-group form-check mb-0">
            <input type="checkbox" class="form-check-input" id="exampleCheck5">
            <label class="form-check-label text-gray-color mb-3" for="exampleCheck5">
              Recuerdame
            </label>
            <a class="pull-right" href="javascript:void(0)">Olvidaste tu contraseña?</a>
          </div>
          <div class="form-group form-button">
            <button id="btn_log" class="btn btn-primary">Iniciar Sesión</button>
            <!--<input id="btn_log"  class="btn btn-primary"  value="Iniciar Sesión"/>  -->
          </div>

        </form>
      </div>

      <div class="modal-footer justify-content-center">
        <p class="mb-1">No tienes una cuenta? <a href="{% url 'create_user' %}">Registrarme</a></p>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript">

  $(function () {
    var anio = new Date()

    $(".datepicker").datepicker({
      dateFormat: "mm-dd-yy",
      changeMonth: true,
      changeYear: true,
      yearRange: anio.getFullYear() + ":2050",
      // You can put more options here.

    });
  });

  var cantDias = 0;
  var cantNinos = 0;
  var cantAdultos = 0;
  var fechaInicio = '';
  var fechaTermino = '';
  var precioDepa = parseInt('{{depa.precioNoche}}')
  var costoDepa = 0;
  var costoServicio = 0;
  var costoTotal = 0;
  var abono = 0;
  var cantPersonas = 0;


  //Parsear inputs date to Date
  function parseDate(input) {
    var parts = input.match(/(\d+)/g);
    // new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
    return new Date(parts[0], parts[1] - 1, parts[2]); // months are 0-based
  }

  //Fn para calcular los dias entre 2 fechas orden ->  Inicio, Fin
  // return cant dias diff
  function calcDate(date1, date2) {
    var diff = Math.floor(date1.getTime() - date2.getTime());
    var day = 1000 * 60 * 60 * 24;

    var days = Math.floor(diff / day);
    var months = Math.floor(days / 31);
    var years = Math.floor(months / 12);


    var message = date2.toDateString();
    message += " was "
    message += days + " days "
    message += months + " months "
    message += years + " years ago \n"

    return days * -1
  }

  function actualizaPrecios() {

    costoDepa = precioDepa * cantDias;
    costoTotal = costoDepa + costoServicio;
    abono = parseInt(costoTotal * 0.3);



    $("#costoTotal").text("$" + (costoTotal));
    $("#id_totalArriendo").val(costoTotal);

    $("#abono").text("$" + (abono));
    $("#id_abono").val(abono);

  }

  function cargaPrecios() {
    cantPersonas = cantNinos + cantAdultos;
    $("#id_cantPersonas").val(cantPersonas);
    $("#cantPersonas").text("Total Personas: " + (cantPersonas));
    /*
    Tienen que tener "fechas" (valores asignados) ambas fechas para escribir la calcular 
    la cantidad de dias entre las fechas y escribirlas
    */
    if ('' != fechaInicio && '' != fechaTermino) {
      cantDias = calcDate(fechaInicio, fechaTermino)
      $("#cantDias").text("Cantidad dias: " + cantDias);
      $("#id_cantDias").val(cantPersonas);
      actualizaPrecios()
    }

  }

  //Fn que se activa cuando el input cantidad de ninos es cambiada
  function fn_ninos(val) {
    cantNinos = parseInt(val);
    cargaPrecios();
  }

  //Fn que se activa cuando el input cantidad de adultos es cambiada
  function fn_adultos(val) {
    cantAdultos = parseInt(val);
    cargaPrecios();
  }

  //Fn que se activa cuando el input date fecha inicio es cambiada
  function fn_inicio(val) {
    fechaInicio = new Date(val);
    //console.log(fechaInicio)
    cargaPrecios();
  }

  //Fn que se activa cuando el input date fecha termino es cambiada
  function fn_termino(val) {
    fechaTermino = new Date(val);
    //console.log(fechaTermino)
    cargaPrecios();
  }


  $(document).ready(function () {

    $('input[type="radio"]').click(function () {
      if ($(this).attr("value") == "trans_si") {
        $(".Box").show('slow');
      }
      if ($(this).attr("value") == "trans_no") {
        $(".Box").hide('slow');
      }
      if ($(this).attr("value") == "tour_si") {
        $(".Box1").show('slow');
      }
      if ($(this).attr("value") == "tour_no") {
        $(".Box1").hide('slow');

      }
    });

    $('input[type="radio"]').trigger('click');  // trigger the event


    cargaPrecios();

    //Add Login
    $("#btn_log").on("click", function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/login",
        data: $('#form_log').serialize(),
        success: function (data) {
          if (data.type == 'error') {
            swal({
              title: data.tittle,
              text: data.mensaje,
              type: data.type,
              confirmButtonText: 'Aceptar'
            })
          } else {
            swal({
              title: data.tittle,
              text: data.mensaje,
              type: data.type,
              confirmButtonText: 'Aceptar'
            }, function (result) {
              window.location.href = '/reserva/add/' + '{{pk}}';
            });
          }
        },
        error: function (data) {
          swal({
            title: data.tittle,
            text: data.mensaje,
            type: data.type,
            confirmButtonText: 'Aceptar'
          })
        }
      });
    })
    //Fin Add Login
  });




</script>

{% endblock %}