{% extends 'AppWeb/base.html' %}

{% load static %}

{% block title %} Turismo Real {% endblock %}



{% block section %}

<div class="main-wrapper home-main">

  <!-- ====================================
    ———	BANNER SECTION
    ===================================== -->
  <div id="rev_slider_12_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="star-test"
    data-source="gallery"
    style="margin:0px auto;background:rgba(0,0,0,0.15);padding:0px;margin-top:0px;margin-bottom:0px;background-repeat:no-repeat;background-size:cover;background-position:center center;"
    dir="ltr">
    <!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
    <div id="rev_slider_12_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
      <ul>
        <!-- SLIDE  -->
        <li data-index="rs-33" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
          data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
          data-thumb="{% static "assets/img/home/slider/slider-01.jpg" %}" data-delay="6000" data-rotate="0"
          data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
          data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
          data-description="">
          <!-- MAIN IMAGE -->
          <img src="{% static "assets/img/home/slider/slider-01.jpg" %}" alt="" data-bgposition="center center"
            data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina
            style="width: 100% !important">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-33-layer-22"
            data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
            data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="wrap"
            data-type="shape" data-basealign="slide" data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption   tp-resizeme" id="slide-33-layer-6" data-x="['left','left','left','left']"
            data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
            data-voffset="['-100','-100','-100','-100']" data-fontsize="['30','30','22','20']" data-width="none"
            data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4340","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 6; white-space: wrap; font-size: 30px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
            Preparate para </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption   tp-resizeme" id="slide-33-layer-7" data-x="['left','left','left','left']"
            data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
            data-voffset="['-40','-40','-55','-50']" data-fontsize="['65','65','40','30']" data-width="none"
            data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4340","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 7; white-space: wrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:montserrat;text-transform:uppercase;">
            Turismo Real! </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption   tp-resizeme" id="slide-33-layer-10" data-x="['left','left','left','center']"
            data-hoffset="['0','100','50','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['35','30','10','29']" data-fontsize="['14','14','13','14']" data-width="none"
            data-height="none" data-whitespace="wrap" data-visibility="['on','on','on','off']" data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3940","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 8; white-space: wrap; font-size: 14px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:montserrat;">
            Aquí encontrarás arriendo de departamentos en zonas turisticas de <br>
            nuestro país, además de muchos servicios adicionales que te podemos <br>
            ofrecer. </div>

          <!-- LAYER NR. 5 -->
          <a href="https://wrapbootstrap.com/theme/star-travel-tour-booking-theme-admin-WB05T4R0J" target="_blank"
            class="tp-caption rev-btn " id="slide-33-layer-11" data-x="['left','left','left','left']"
            data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
            data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
            data-type="button" data-responsive_offset="on" data-responsive="on"
            data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3540","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
            style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Montserrat;text-transform:uppercase;background-color:rgb(255,137,30);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            Reserva! </a>
        </li>
        <!-- SLIDE  -->
        <li data-index="rs-54" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
          data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
          data-thumb="{% static "assets/img/home/slider/slider-02.jpg" %}" data-delay="6000" data-rotate="0"
          data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
          data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
          data-description="">
          <!-- MAIN IMAGE -->
          <img src="{% static "assets/img/home/slider/slider-02.jpg" %}" alt="" data-bgposition="center center"
            data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina
            style="width: 100% !important">
          <!-- LAYERS -->

          <!-- LAYER NR. 6 -->
          <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-54-layer-12"
            data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
            data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="wrap"
            data-type="shape" data-basealign="slide" data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

          <!-- LAYER NR. 7 -->
          <div class="tp-caption   tp-resizeme" id="slide-54-layer-6" data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['-100','-100','-100','-100']" data-fontsize="['30','30','22','20']" data-width="none"
            data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4330","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 6; white-space: nowrap; font-size: 30px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
            Descubre lo más asombroso </div>

          <!-- LAYER NR. 8 -->
          <div class="tp-caption   tp-resizeme" id="slide-54-layer-7" data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['-40','-40','-55','-50']" data-fontsize="['65','65','40','30']" data-width="none"
            data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4330","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 7; white-space: nowrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:montserrat;text-transform:uppercase;">
            Encuentra tu estadía perfecta </div>

          <!-- LAYER NR. 9 -->
          <div class="tp-caption   tp-resizeme" id="slide-54-layer-10" data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['35','30','10','29']" data-fontsize="['14','14','13','14']" data-width="none"
            data-height="none" data-whitespace="wrap" data-visibility="['on','on','on','off']" data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3930","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:montserrat;">
            Tenemos departamentos en las mejores zonas turisticas de Chile </div>

          <!-- LAYER NR. 10 -->
          <a href="https://wrapbootstrap.com/theme/star-travel-tour-booking-theme-admin-WB05T4R0J" target="_blank"
            class="tp-caption rev-btn " id="slide-54-layer-11" data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
            data-type="button" data-responsive_offset="on" data-responsive="on"
            data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3530","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
            style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Montserrat;text-transform:uppercase;background-color:rgb(255,137,30);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            Buscar! </a>
        </li>
        <!-- SLIDE  -->
        <li data-index="rs-56" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
          data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
          data-thumb="{% static "assets/img/home/slider/slider-03.jpg" %}" data-delay="6000" data-rotate="0"
          data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
          data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
          data-description="">
          <!-- MAIN IMAGE -->
          <img src="{% static "assets/img/home/slider/slider-03.jpg" %}" alt="" data-bgposition="center center"
            data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina
            style="width: 100% !important">
          <!-- LAYERS -->

          <!-- LAYER NR. 11 -->
          <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-56-layer-12"
            data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
            data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="wrap"
            data-type="shape" data-basealign="slide" data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

          <!-- LAYER NR. 12 -->
          <div class="tp-caption   tp-resizeme" id="slide-56-layer-6" data-x="['left','left','left','left']"
            data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
            data-voffset="['-100','-100','-100','-100']" data-fontsize="['30','30','22','20']" data-width="none"
            data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 6; white-space: nowrap; font-size: 30px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
            Disfruta de la máxima libertad </div>

          <!-- LAYER NR. 13 -->
          <div class="tp-caption   tp-resizeme" id="slide-56-layer-7" data-x="['left','left','left','left']"
            data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
            data-voffset="['-40','-40','-55','-50']" data-fontsize="['65','65','40','30']" data-width="none"
            data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 7; white-space: nowrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:montserrat;text-transform:uppercase;">
            Turismo Real </div>

          <!-- LAYER NR. 14 -->
          <div class="tp-caption   tp-resizeme" id="slide-56-layer-10" data-x="['left','left','left','center']"
            data-hoffset="['0','100','50','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['35','30','10','29']" data-fontsize="['14','14','13','14']" data-width="none"
            data-height="none" data-whitespace="wrap" data-visibility="['on','on','on','off']" data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:montserrat;">
          </div>

          <!-- LAYER NR. 15 -->
          <a href="https://wrapbootstrap.com/theme/star-travel-tour-booking-theme-admin-WB05T4R0J" target="_blank"
            class="tp-caption rev-btn " id="slide-56-layer-11" data-x="['left','left','left','left']"
            data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
            data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
            data-type="button" data-responsive_offset="on" data-responsive="on"
            data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
            style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Montserrat;text-transform:uppercase;background-color:rgb(255,137,30);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            Descubrir </a>
        </li>
        <!-- SLIDE  -->
        <li data-index="rs-57" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
          data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
          data-thumb="{% static "assets/img/home/slider/slider-04.jpg" %}" data-delay="6000" data-rotate="0"
          data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
          data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
          data-description="">
          <!-- MAIN IMAGE -->
          <img src="{% static "assets/img/home/slider/slider-04.jpg" %}" alt="" data-bgposition="center center"
            data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina
            style="width: 100% !important">
          <!-- LAYERS -->

          <!-- LAYER NR. 16 -->
          <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-57-layer-12"
            data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
            data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="wrap"
            data-type="shape" data-basealign="slide" data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

          <!-- LAYER NR. 17 -->
          <div class="tp-caption   tp-resizeme" id="slide-57-layer-6" data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['-100','-100','-100','-100']" data-fontsize="['30','30','22','20']" data-width="none"
            data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4050","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 6; white-space: nowrap; font-size: 30px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
            Ve a donde quieras ir </div>

          <!-- LAYER NR. 18 -->
          <div class="tp-caption   tp-resizeme" id="slide-57-layer-7" data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['-40','-40','-55','-50']" data-fontsize="['65','65','40','30']" data-width="none"
            data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4050","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 7; white-space: nowrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:montserrat;text-transform:uppercase;">
            24/7 Soporte rápido </div>

          <!-- LAYER NR. 19 -->
          <div class="tp-caption   tp-resizeme" id="slide-57-layer-10" data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['35','30','10','29']" data-fontsize="['14','14','13','14']" data-width="none"
            data-height="none" data-whitespace="wrap" data-visibility="['on','on','on','off']" data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3650","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:montserrat;">
          </div>

          <!-- LAYER NR. 20 -->
          <a href="https://wrapbootstrap.com/theme/star-travel-tour-booking-theme-admin-WB05T4R0J" target="_blank"
            class="tp-caption rev-btn" id="slide-57-layer-11" data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
            data-type="button" data-responsive_offset="on" data-responsive="on"
            data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3250","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
            style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Montserrat;text-transform:uppercase;background-color:rgb(255,137,30);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            Reservar! </a>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>

  <!-- ====================================
    ———	SEARCH SECTION
    ===================================== -->
  <section class="bg-dark-light py-7">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3">
          <div class="section-title-bg mb-1 mb-lg-3 mb-xl-0">
            <h1 class="text-white text-uppercase mb-0">Busca</h1>
            <h2 class="text-white text-uppercase font-weight-bold mb-0">tu <span class="text-primary">reserva</span>
            </h2>
          </div>
        </div>

        <div class="col-xl-9">
          <form class="" action="index.html" method="GET">
            <div class="row">
              <div class="col-lg-9">
                <div class="row">


                  <div class="col-md-6 col-lg-3">
                    <div class="form-group form-group-icon mb-lg-0">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <input type="text" class="form-control daterange-picker" name="dateRange" value=""
                        placeholder="dd/mm/yyyy" />
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-3">
                    <div class="form-group form-group-icon mb-lg-0">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <input type="text" class="form-control daterange-picker" name="dateRange" value=""
                        placeholder="dd/mm/yyyy" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-1 hotels-grid-left-sidebar">
                <button class="btn btn-primary text-uppercase" type="button"
                  onclick="location.href='javascript:void(0)';">
                  Buscar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- ====================================
    ———	SERVICES SECTION
    ===================================== -->
  <section id="servicios" class="bg-smoke py-8 py-lg-9">
    <div class="container">
      <div class="text-center section-title">
        <h2 class="text-uppercase font-weight-bold position-relative">
          <span class="bg-smoke">
            Servicios disponibles
          </span>
        </h2>
        <p class="text-capitalize text-center">En esta seccion encontrarás nuestros principales servicios y ofertas</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="card card-hover mb-5 mb-lg-0">
            <a href="single-package-left-sidebar.html" class="position-relative">
              <img class="card-img-top" src="{% static "assets/img/home/deal/deal-03.jpg" %}" alt="Card image cap">

              <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">

                <ul class="list-unstyled d-flex mt-auto text-warning">
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </li>
                </ul>

                <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
                  <li class="border-right border-white pr-2">desde 6 am</li>
                  <li class="border-right border-white px-2">hasta 11 am</li>
                </ul>
              </div>
            </a>

            <div class="card-body">
              <h5>
                <a href="single-package-left-sidebar.html" class="card-title text-uppercase">Desayunos</a>
              </h5>
              <p class="mb-5">Tenedor libre, el costo es por persona.
                Cuenta con todo tipo de alimentos para
                energizar el comienzo del día
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="mb-0 text-capitalize">Desde</p>
                  <h3 class="text-primary">$2.500</h3>
                </div>

                <div>
                  <a href="booking-step-1.html" class="btn btn-sm btn-outline-secondary text-uppercase">Lo quiero!</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card card-hover mb-5 mb-lg-0">
            <a href="single-package-left-sidebar.html" class="position-relative">
              <img class="card-img-top" src="{% static "assets/img/home/deal/deal-02.jpg" %}" alt="Card image cap">

              <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">

                <ul class="list-unstyled d-flex mt-auto text-warning">
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </li>
                </ul>

                <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
                  <li class="border-right border-white pr-2">7 days</li>
                  <li class="border-right border-white px-2">15 hrs</li>
                  <li class="pl-2">15 min</li>
                </ul>
              </div>
            </a>

            <div class="card-body">
              <h5 class="">
                <a href="single-package-left-sidebar.html" class="card-title text-uppercase">Actividades y tours</a>
              </h5>
              <p class="mb-5">Deseas tener unas vacaciones inolvidables, te ofrecemos tours con diferentes actividades
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="mb-0 text-capitalize">Desde</p>
                  <h3 class="text-primary">$30.000</h3>
                </div>

                <div>
                  <a href="jascript:void(0)" data-toggle="modal" data-target="#inquiry"
                    class="btn btn-sm btn-outline-secondary text-uppercase">Lo Quiero!</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card card-hover">
            <a href="single-package-left-sidebar.html" class="position-relative">
              <img class="card-img-top" src="{% static "assets/img/home/transporte.jpeg" %}" alt="Card image cap">

              <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">


                <ul class="list-unstyled d-flex mt-auto text-warning">
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </li>
                </ul>

                <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
                  <li class="border-right border-white pr-2">Por el día</li>
                  <li class="border-right border-white px-2">Por hora</li>
                </ul>
              </div>
            </a>

            <div class="card-body">
              <h5>
                <a href="single-package-left-sidebar.html" class="card-title text-uppercase">Servicio de transporte</a>
              </h5>
              <p class="mb-5">Te ofrecemos servicios de transporte durante la estadía
                para conocer más lugares y tener mayor comodidad.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="mb-0 text-capitalize">Desde</p>
                  <h3 class="text-primary">$25.000</h3>
                </div>

                <div>
                  <a href="booking-step-1.html" class="btn btn-sm btn-outline-secondary text-uppercase">Agendar!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ====================================
    ———	DESTINATIONS SECTION
    ===================================== -->
  <section class="py-8 py-lg-10">
    <div class="container">
      <div class="text-center section-title">
        <h2 class="text-uppercase font-weight-bold position-relative">
          <span class="bg-white">
            Nuestros destinos
          </span>
        </h2>
        <p class="text-capitalize text-center">Aca encontrarás nuestras principales ubicaciones</p>
      </div>



      <div id="filters" class="button-group">
        <button class="button is-checked" data-filter="*">Todos</button>
        <button class="button" data-filter=".asia">Norte</button>
        <button class="button" data-filter=".america">Centro</button>
        <button class="button" data-filter=".africa">Sur</button>
      </div>

      <div class="row grid">
        <div class="col-md-6 col-lg-4 element-item asia america">
          <div class="media media-hoverable justify-content-center mb-2 mb-md-4 mb-lg-6">
            <a href="single-package-fullwidth.html" class="media-content">
              <img class="media-img" src="{% static "assets/img/packages/arica.jfif" %}"
                alt="Generic placeholder image">
              <div class="media-object">
                <h3 class="text-uppercase mb-0">Arica</h3>
              </div>
              <div class="media-img-overlay">
                <div class="overlay-content">
                  <h3 class="">Desde <span class="text-primary">$35.000</span></h3>
                  <p class="text-white mb-0">
                    <span class="mr-1"><i class="fa fa-calendar" aria-hidden="true"></i></span> 14 Feb, 2019
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 element-item africa">
          <div class="media media-hoverable justify-content-center mb-2 mb-md-4 mb-lg-6">
            <a href="single-package-fullwidth.html" class="media-content">
              <img class="media-img" src="{% static "assets/img/packages/santiago.jpg" %}"
                alt="Generic placeholder image">
              <div class="media-object">
                <h3 class="text-uppercase mb-0">Santiago</h3>
              </div>
              <div class="media-img-overlay">
                <div class="overlay-content">
                  <h3 class="">Desde <span class="text-primary">$25.000</span></h3>
                  <p class="text-white mb-0">
                    <span class="mr-1"><i class="fa fa-calendar" aria-hidden="true"></i></span> 09 Feb, 2019
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 element-item america">
          <div class="media media-hoverable justify-content-center mb-2 mb-md-4 mb-lg-6">
            <a href="single-package-fullwidth.html" class="media-content">
              <img class="media-img" src="{% static "assets/img/packages/puerto-varas.jpg" %}"
                alt="Generic placeholder image">
              <div class="media-object">
                <h3 class="text-uppercase mb-0">Puerto Varas</h3>
              </div>
              <div class="media-img-overlay">
                <div class="overlay-content">
                  <h3 class="">Desde <span class="text-primary">$40.000 x noche</span></h3>
                  <p class="text-white mb-0">
                    <span class="mr-1"><i class="fa fa-calendar" aria-hidden="true"></i></span> 27 Jan, 2019
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div><!-- element wrapper ends -->

{% endblock %}

{% block scripts %}
<!-- <script type="text/javascript">

    $(function () {
        var anio = new Date()
        
        $(".datepicker").datepicker({
            dateFormat: "mm-dd-yy",
            changeMonth: true,
            changeYear: true,
            yearRange: anio.getFullYear() + ":2050",
            // You can put more options here.

        });
    });

    
    $( document ).ready(function() {
        $("#btn_disp").on("click",function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/busca/departamento",
                data: $('#form_disp').serialize(),
                success: function(data) {
                    if(data.type == 'error'){
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        })
                    }else {
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                                if (result.value) {
                                    window.location.href = '/';
                                }
                            })
                    }                        
                },
                error: function(data) {
                    swal({
                        title: data.tittle,
                        text: data.mensaje,
                        type: data.type,
                        confirmButtonText: 'Aceptar'
                    })
                }
            });
        })
        
    });

</script> -->
{% endblock %}