{% extends 'AppWeb/base.html' %}

{% block title %} Inicio Sesion {% endblock %}

{%block section %}


<p>{{ error_messages }}</p>

<section class="py-8 py-lg-10">
    <div class="container">
        <div class="text-center section-title">
            <h2 class="text-uppercase font-weight-bold position-relative">
                <span class="bg-white">
                    Iniciar Sesión
                </span>
            </h2>
            <p class="text-capitalize text-center">Ingresa con tu usuario para disfrutar nuestros servicios</p>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="mb-6 bg-white px-3 py-6 border-top border-top-5 border-primary rounded">
                    <h4 class="text-uppercase font-weight-bold">Ingrese sus datos</h4>
                    <form class="register-form" id="form_log">
                        {% csrf_token %}
                        <div class="form-group form-group-icon form-group-icon-dark mb-5">
                            {{ form.usr }}
                        </div>
                        <div class="form-group form-group-icon form-group-icon-dark mb-5">
                            {{ form.pwd }}
                        </div>
                        <div class="form-group form-button">
                            <button id="btn_log" class="btn btn-primary">Iniciar Sesión</button>
                            <!--<input id="btn_log"  class="btn btn-primary"  value="Iniciar Sesión"/>  -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>


{% endblock %}

{% block scripts %}

<script type="text/javascript">


    $(document).ready(function () {

        $('#id_usr').on('paste', function (e) {
            e.preventDefault();
        });

        $('#id_usr').on('change', function (e) {
            var usr = e.target.value;
            validateUsername();
            validarFormulario();
        });

        $('#id_pwd').on('paste', function (e) {
            e.preventDefault();
        });

        $('#id_pwd').on('change', function (e) {
            var usr = e.target.value;
            validatePassword();
            validarFormulario();
        });

        function validarFormulario() {
            var username = $('#id_usr').val();
            if (validateUsername(username)) {
                var pass = $('#id_pwd').val();
                if (validatePassword(pass)) {
                    return true;
                }
            }

            return false;
        }


        //Add Login
        $("#btn_log").on("click", function (e) {
            if (validarFormulario()) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/login",
                    data: $('#form_log').serialize(),
                    success: function (data) {
                        if (data.type == 'error') {
                            swal({
                                title: data.tittle,
                                text: data.mensaje,
                                type: data.type,
                                confirmButtonText: 'Aceptar'
                            })
                        } else {
                            swal({
                                title: data.tittle,
                                text: data.mensaje,
                                type: data.type,
                                confirmButtonText: 'Aceptar'
                            }, function (result) {
                                window.location.href = '/';
                            });
                        }
                    },
                    error: function (data) {
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        })
                    }
                });
            }
        })
        //Fin Add Login

        ///Funcion para validar que el input username no este vacio
        function validateUsername(username) {

            if (username.length === 0) {
                $('#id_usr')[0].setCustomValidity("Debe ingresar Nombre usuario.")
                return false
            }
            else {
                $('#id_usr')[0].setCustomValidity("")

                return true
            }
        }

        /*Funcion para validar que el input password no este vacio 
        */
        function validatePassword(pass) {
            var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
            if(pass.length === 0){
                $('#id_pwd')[0].setCustomValidity("Debe ingresar una contraseña")
                return false
            }else {
                $('#id_pwd')[0].setCustomValidity("")
                return true
            }
            
            
        }

    });




</script>

{% endblock %}