{% extends 'AppWeb/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}

<style>
  .spad {
    padding-top: 0px;

  }
</style>

{% endblock %}

{% block section %}

<section class="page-title">
  <div class="page-title-img bg-img bg-overlay-darken"
  style="background-image: url({% static 'assets/img/pages/page-title-bg10.jpg' %});">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-9 col-xl-8">
          <div class="page-title-content py-7 py-md-8">
            <div class="">
              <h2 class="text-uppercase text-white font-weight-bold">Mis Reservas</h2>
            </div>
            <p class="text-white mb-0">Aquí podrá encontrar todas las reservas realizadas y registrar sus ocupantes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-7 pb-9 pb-lg-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="mb-5" id="alerts">
          <h1 class="element-title">Mis Reservas</h1>
          {% if cantidad > 0 %}
          <p class="mb-6 line-height-28 h4">En la siguiente tabla podrá encontrar todas sus reservas</p>
          {% else %}
          <p class="mb-6 line-height-28 h4">Usted no posee ningún arriendo ni reserva por el momento.</p>
          {% endif %}

          <div class="row">
            <div class="col-lg-12">
              {% if cantidad > 0 %}
              
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Departamento</th>
                      <th scope="col">Fecha Inicio</th>
                      <th scope="col">Fecha Termino</th>
                      <th scope="col">Ocupantes</th>
                      <th scope="col">Servicios</th>
                      <th scope="col">Multas</th>
                      <th scope="col">Abono</th>
                      <th scope="col">Total Arriendo</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Cancelar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for arriendo in arriendos %}
                    <tr>
                      <td>{{arriendo.fk_departamento.direccion}}</td>
                      <td>
                        <div class="badge badge-info">
                          <span class="d-block">
                            <h3>{{arriendo.fk_reserva.fechaInicio|date:"d" }}</h1>
                            <h5>{{arriendo.fk_reserva.fechaInicio|date:"M" }}</h3>
                          </span>
                        </div>
                        
                      </td>
                      <td>
                        <div class="badge badge-danger">
                          <span class="d-block">
                            <h3>{{arriendo.fk_reserva.fechaTermino|date:"d" }}</h1>
                            <h5>{{arriendo.fk_reserva.fechaTermino|date:"M" }}</h3>
                          </span>
                        </div>
                      </td>
                      <td> <a href="{% url 'ocupantes' pk=arriendo.pk %}" class="btn btn-primary btn-sm"> Registrar </a> </td>
                      <td> <a href="{% url 'cont_serv' pk=arriendo.pk %}" class="btn btn-primary btn-sm"> Contratar </a> </td>
                      <td>${{arriendo.fk_arriendo.totalMulta|intcomma}}</td>
                      <td>${{arriendo.fk_reserva.costo|intcomma}}</td>
                      <td>${{arriendo.fk_arriendo.totalArriendo|intcomma}}</td>
                      <td>{{arriendo.fk_arriendo.fk_tipo_estado.nombre}}</td>
                      <td> <a href="#" class="btn btn-primary btn-sm">Cancelar </a> </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              

              {% endif %}
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</section>


{% endblock %}

{% block scripts %}{% endblock %}