{% load static %}
<!-- Preloader -->
<div id="preloader" class="smooth-loader-wrapper">
  <div class="smooth-loader">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>

<!-- ====================================
  ——— HEADER
  ===================================== -->
<header class="header" id="pageTop">
  <!-- Menu Zord -->
  <nav class="nav-menuzord navbar-sticky">
    <div class="container clearfix">
      <div id="menuzord" class="menuzord">
        <a href="index.html" class="menuzord-brand">
          <img src="{% static "assets/img/logo-color-big.png" %}" alt="logo-img">
        </a>


        <ul class="menuzord-menu menuzord-right">
          <li class="active">
            <a class="" href="/">Inicio</a>
          </li>

          <li class="">
            <a href="/departamentos">Departamentos</a>
          </li>

          <li class="">
            <a href="/#servicios">Servicios</a>
            
          </li>

          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'mis_reservas' %}">Mis reservas</a>
            </li>
            <li class="">
              <a href="javascript:void(0)">{{user.username}}</a>
              <ul id="admin" class="dropdown drop-up">
                <li class="">
                  <a href="{% url 'users_logout' %}">Cerrar sesión</a>
                </li>

              </ul>
            </li>
          {% else %}


            <li class="">
              <a href="javascript:void(0)">Iniciar Sesión</a>
              <ul id="admin" class="dropdown drop-up">
                <li class="">
                  <a href="{% url 'users_login' %}">Iniciar sesión</a>
                </li>
                <li class="">
                  <a href="{% url 'create_user' %}">Registrarse</a>
                </li>

              </ul>
            </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
</header>