{% extends 'AppWeb/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} Registro usuario {% endblock %}

{% block section %}

<section class="py-8 py-lg-10">
    <div class="container">
        <div class="text-center section-title">
            <h2 class="text-uppercase font-weight-bold position-relative">
                <span class="bg-white">
                    Registro de usuario
                </span>
            </h2>
            <p class="text-capitalize text-center">Completar el siguiente formulario para hacer uso de nuestros
                servicios</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-6 bg-white px-3 py-6 border-top border-top-5 border-primary rounded">
                    <h4 class="text-uppercase font-weight-bold">Ingrese sus datos</h4>
                    <form id="form_add">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-lg-4">
                                {{ form.rut|as_crispy_field }}
                            </div>
                            <div class="col-lg-4">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col-lg-4">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-lg-4">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                            <div class="col-lg-4">
                                {{ form.direccion|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-lg-4">
                                {{ form.telefono|as_crispy_field }}
                            </div>
                            <div class="col-lg-4">
                                {{ form.password|as_crispy_field }}
                            </div>
                        </div>


                        <div class="form-group form-button">
                            <input type="submit" id="btn_add" class="btn btn-primary" value="Registrar" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

<script type="text/javascript">

    $(function () {
        var anio = new Date()
        console.log(anio)
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: anio.getFullYear() + ":2050",

        });
    });

    $(document).ready(function () {

        $('#id_rut').on('paste', function (e) {
            e.preventDefault();
        });
        $('#id_rut').on('change', function (e) {
            var rut = e.target.value;
            formatRUT(e);
            validateRUT(rut);
            validarFormulario();
        });

        $('#id_username').on('paste', function (e) {
            e.preventDefault();
        });

        $('#id_username').on('change', function (e) {
            var username = e.target.value;
            validateUsername(rut);
            validarFormulario();
        });

        $('#id_email').on('paste', function (e) {
            e.preventDefault();
        });

        $('#id_email').on('change', function (e) {
            var email = e.target.value;
            validateEmail(email);
            validarFormulario();
        });

        $('#id_first_name').on('paste', function (e) {
            e.preventDefault();
        });

        $('#id_first_name').on('change', function (e) {
            var nombre = e.target.value;
            validateNombre(nombre);
            validarFormulario();
        });

        $('#id_last_name').on('paste', function (e) {
            e.preventDefault();
        });

        $('#id_last_name').on('change', function (e) {
            var apellido = e.target.value;
            validateApellido(apellido);
            validarFormulario();
        });

        $('#id_direccion').on('paste', function (e) {
            e.preventDefault();
        });

        $('#id_direccion').on('change', function (e) {
            var direccion = e.target.value;
            validateDireccion(direccion);
            validarFormulario();
        });

        $('#id_telefono').on('paste', function (e) {
            e.preventDefault();
        });

        $('#id_telefono').on('change', function (e) {
            var direccion = e.target.value;
            validateDireccion(direccion);
            validarFormulario();
        });

        function validarFormulario() {
            var rut = $('#id_rut').val();
            if (validateRUT(rut)) {
                var username = $('#id_username').val();
                if (validateUsername(username)) {
                    var email = $('#id_email').val();
                    if (validateEmail(email)) {
                        var nombres = $('#id_first_name').val();
                        if (validateNombre(nombres)) {
                            var ap = $('#id_last_name').val();
                            if (validateApellido(ap)) {
                                var direccion = $('#id_direccion').val();
                                if (validateDireccion(direccion)) {
                                    var telefono = $('#id_telefono').val();
                                    if (validateTelefono(telefono)) {
                                        var pass = $('#id_password').val();
                                        if (validatePassword(pass)) {
                                            return true;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            return false;
        }

        ///Se valida el formulario y luego hace un llamado a la view Create
        $("#btn_add").on("click", function (e) {
            if (validarFormulario()) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/new_user",
                    data: $('#form_add').serialize(),
                    success: function (data) {
                        if (data.type == 'error') {
                            swal({
                                title: data.tittle,
                                text: data.mensaje,
                                type: data.type,
                                confirmButtonText: 'Aceptar'
                            })
                        } else {
                            swal({
                                title: data.tittle,
                                text: data.mensaje,
                                type: data.type,
                                confirmButtonText: 'Aceptar'
                            }, function (result) {
                                window.location.href = '/';
                            });
                        }
                    },
                    error: function (data) {
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        })
                    }
                });
            }
        })

        ///Funcion para validar que el input rut no este vacio, y sea valido
        function validateRUT(rut) {
            const new_rut = rut.replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '').trim()
            const len = new_rut.length
            const number = new_rut.substring(0, len - 1)
            const digit = new_rut.substring(len - 1, len)
            let valid_digit = false
            let valid_number = false
            if (digit.match(/^-{0,1}\d+$/) || digit.toLowerCase() === 'k') {
                valid_digit = true
            }
            if (number.match(/^-{0,1}\d+$/) && number.length >= 5) {
                valid_number = true
            }
            const upperDigit = digit.toUpperCase();

            let valid_modulo11 = false
            const serie_n = [2, 3, 4, 5, 6, 7]
            let sum = 0
            for (let j = 0; j < number.length; j++) {
                sum += parseInt(number.substring(number.length - j - 1, number.length - j)) * serie_n[j % (serie_n.length)]
            }
            const rest = (11 - (sum % 11)) % 11
            const verif = (rest === 10) ? "K" : rest.toString()
            if (verif === upperDigit) {
                valid_modulo11 = true
            }

            if (rut == "") {
                $('#id_rut')[0].setCustomValidity("Debe ingresar un rut.")
                return false
            } else {
                if (!(valid_digit && valid_number && valid_modulo11)) {
                    $('#id_rut')[0].setCustomValidity("Debe ingresar un rut valido.")
                    return false
                }
                else {
                    $('#id_rut')[0].setCustomValidity("")
                    return true
                }
            }

        }

        ///Funcion para darle el formato de run al input rut
        function formatRUT(e) {
            const rut = e.target.value.replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '')
            const len = rut.length
            if (len > 0) {
                let digit = "-" + rut.substring(len - 1)
                for (let i = len - 1; i > 0; i -= 3) {
                    digit = (i > 3) ? '.' + rut.substring(i - 3, i) + digit : rut.substring(i - 3, i) + digit
                }
                $('#' + e.target.id).val(digit.toUpperCase())
            }
        }

        ///Funcion para validar que el input username no este vacio
        function validateUsername(username) {

            if (username.length === 0) {
                $('#id_username')[0].setCustomValidity("Debe ingresar Nombre usuario.")
                return false
            }
            else {
                $('#id_username')[0].setCustomValidity("")

                return true
            }
        }

        ///Funcion para validar que el input email no este vacio y tenga la estructura valida
        function validateEmail(email) {
            if (email.length === 0) {
                $('#id_email')[0].setCustomValidity("Debe ingresar Correo Electronico.")
                return false
            }
            else {
                if (!(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email))) {
                    $('#id_email')[0].setCustomValidity("Debe ingresar un Correo electronico valido.")
                    return false
                }
                else {
                    $('#id_email')[0].setCustomValidity("")
                    return true
                }
            }
        }

        ///Funcion para validar que el input first_name no este vacio
        function validateNombre(nombre) {

            if (nombre.length === 0) {
                $('#id_first_name')[0].setCustomValidity("Debe ingresar su Nombre.")
                return false
            }
            else {
                $('#id_first_name')[0].setCustomValidity("")

                return true
            }
        }

        ///Funcion para validar que el input last_name no este vacio
        function validateApellido(ap) {

            if (ap.length === 0) {
                $('#id_last_name')[0].setCustomValidity("Debe ingresar su Apellido.")
                return false
            }
            else {
                $('#id_last_name')[0].setCustomValidity("")
                return true
            }
        }

        ///Funcion para validar que el input direccion no este vacio
        function validateDireccion(direccion) {

            if (direccion.length === 0) {
                $('#id_direccion')[0].setCustomValidity("Debe ingresar su Dirección.")
                return false
            }
            else {
                $('#id_direccion')[0].setCustomValidity("")
                return true
            }
        }

        ///Funcion para validar que el input telefono no este vacio
        function validateTelefono(telefono) {

            if (telefono.length === 0) {
                $('#id_telefono')[0].setCustomValidity("Debe ingresar su número Telefónico.")
                return false
            }
            else {
                $('#id_telefono')[0].setCustomValidity("")
                return true
            }
        }

        /*Funcion para validar que el input password no este vacio y que cumpla con
        las caracteristicas de una Password segura:
        -Entre 8 a 15 caracteres
        -Una letra minúscula
        -Una letra mayúscula
        -Un dígito numérico
        -Un carácter especial
        */
        function validatePassword(pass) {
            var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
            if(pass.length === 0){
                $('#id_password')[0].setCustomValidity("Debe ingresar una contraseña")
                return false
            }else{
                if (!(pass.match(decimal))) {
                    $('#id_password')[0].setCustomValidity("Contraseña debe contener(Entre 8 a 15 caracteres, una letra minúscula, una letra mayúscula, un dígito numérico y un carácter especial).")
                    return false
                }
                else {
                    $('#id_password')[0].setCustomValidity("")
                    return true
                }
            }
            
        }

    });


</script>

{% endblock %}