{% extends 'AppWeb/base.html' %}

{% load static %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}

<style>
    .spad {
        padding-top: 0px;

    }
</style>

{% endblock %}

{% block section %}
<div class="container-fluid">
    <div class="row">
        <div class="about-text mx-auto">
            <div class="section-title">
                <h2>Proceso de pago</h2>
                <p class="f-para">Gracias por su preferencia!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-success" role="alert">
                La reserva se ha realizado exitosamente!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Sistema de abono!</h4>
                <p>Su abono es para mantener el departamento fuera de estado disponible</p>
                <hr>
                <p class="mb-0">Si usted desea cancelar su reserva, el 30% quedará retenido por Turismo Real</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Detalle reserva</span>

            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Departamento: {{depa.direccion}}</h6>
                        <small class="text-muted">Metros: {{depa.metros}} </small><br>
                        <small class="text-muted">Precio por Noche: ${{depa.precioNoche}} </small><br>
                        <small id="cantDias" class="text-muted">Cantidad dias: 0</small><br>
                        <small id="cantPersonas" class="text-muted">Cantidad personas: 0</small>

                    </div>
                    <span class="text-muted">${{depa.precioNoche}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <span>Abono (Reserva 30%)</span>
                    <strong id="abono">$0</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total Arriendo(CLP)</span>
                    <strong id="costoTotal">$0</strong>
                </li>
            </ul>
        </div>
    </div>





</div>


{% endblock %}

{% block scripts %}{% endblock %}