{% extends 'AppWeb/base.html' %}

{% load static %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}

<style>
    .spad {
        padding-top: 0px;

    }
</style>

{% endblock %}

{% block section %}


<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <div class="section-title">
                        <h2>Agrega ocupante</h2>
                        <p class="f-para">Agregue ocupante de la reserva</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <form id="form_add" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{form_payment_khipu.render}}
                    <div class="form-group">
                        <button id="btn_add" class="btn btn-dark">Agregar ocupante</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block scripts %}{% endblock %}