{% extends 'AppWeb/base.html' %}

{% load static %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}
<style>
    .spad {
        padding-top: 0px;

    }
</style>

{% endblock %}

{% block section %}

<div class="container-fluid" style="padding-bottom: 100px;padding-top: 30px;">
    <div class="row">
        <div class="about-text mx-auto">
            <div class="section-title">
                <h2>Proceso de pago</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-danger" role="alert">
                Ups! La reserva no se pudo contretar
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary">
                        Volver a intentar</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-secondary">
                        Cancelar</button>
                </div>

            </div>

        </div>

    </div>
</div>
<br>
{% endblock %}

{% block scripts %}{% endblock %}