{% extends 'AppWeb/base.html' %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<!-- ====================================
———	PAGE TITLE
===================================== -->
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken"
        style="background-image: url({% static 'assets/img/pages/page-title-bg7.jpg' %});">
        <div class="container">
            <div class="row align-items-center justify-content-center" style="height: 200px;">
                <div class="col-lg-6">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h2 class="text-uppercase text-white font-weight-bold"> {{depa.direccion}}</h2>
                        </div>
                        <p class="text-white mb-0"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ====================================
  ———	BOOKING SECTION
  ===================================== -->
<section class="py-8 py-md-10">
    <div class="container">
        <div class="mb-8">
            <div class="row progress-wizard">
                <div class="col-4 progress-wizard-step active">
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>

                    <a href="javascript:void(0)" class="progress-wizard-dot">
                        <div class="progress-wizard-content">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="d-block">1. Información Reserva</span>
                        </div>
                    </a>
                </div>

                <div class="col-4 progress-wizard-step incomplete">
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>

                    <a href="booking-step-2.html" class="progress-wizard-dot">
                        <div class="progress-wizard-content">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <span class="d-block">2. Medios de Pago</span>
                        </div>
                    </a>
                </div>

                <div class="col-4 progress-wizard-step incomplete">
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>

                    <a href="booking-step-3.html" class="progress-wizard-dot">
                        <div class="progress-wizard-content">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span class="d-block">3. Confirmación</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="col-md-12 py-6 border-top border-top-5 border-primary rounded">
                    <h3 class="text-capitalize mb-5">Información Personal Cliente</h3>

                    <form action="">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row py-2">
                                <div class="col-lg-4">
                                    <label class="control-label text-center">Nombre usuario:</label>
                                    <input type="text" class="form-control" placeholder="{{user.username}}" disabled>
                                </div>
                                <div class="col-lg-4">
                                    <label class="control-label text-center">Nombres:</label>
                                    <input type="text" class="form-control" placeholder="{{user.first_name}}" disabled>
                                </div>
                                <div class="col-lg-4">
                                    <label class="control-label text-center">Apellidos:</label>
                                    <input type="text" class="form-control" placeholder="{{user.last_name}}" disabled>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-lg-6">
                                    <label class="control-label text-center">Correo Electronico:</label>
                                    <input type="text" class="form-control" placeholder="{{user.email}}" disabled>
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label text-center">Dirección:</label>
                                    <input type="text" class="form-control" placeholder="{{user.direccion}}" disabled>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-lg-4">
                                    <label class="control-label text-center">Telefono:</label>
                                    <input type="text" class="form-control" placeholder="{{user.telefono}}" disabled>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="col-md-12 py-6 border-top border-top-5 border-primary rounded">
                    <h3 class="text-capitalize mb-5">Información de Tarjeta:</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputName">Nombre de Tarjeta:</label>
                                <input type="text" class="form-control border-0 bg-smoke">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputNumber">Numero de Tarjeta:</label>
                                <input type="number" class="form-control border-0 bg-smoke">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputName">CVV:</label>
                                <input type="text" class="form-control border-0 bg-smoke">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputNumber">Pagar con:</label>
                                <div class="row">
                                    <div class="col-3 pr-lg-1 pr-xl-3">

                                        <div class="img-overlay rounded">
                                            <img class="w-100" src="{% static "assets/img/booking/master-card.jpg" %}"
                                                alt="Master-card">
                                            <a href="" class="hover-img-overlay-dark"></a>
                                        </div>
                                    </div>

                                    <div class="col-3 px-lg-2 px-xl-3">
                                        <div class="img-overlay rounded">
                                            <img class="w-100" src="{% static "assets/img/booking/discover.jpg" %}"
                                                alt="Discover">
                                            <a href="" class="hover-img-overlay-dark"></a>
                                        </div>
                                    </div>

                                    <div class="col-3 px-lg-2 px-xl-3">
                                        <div class="img-overlay rounded">
                                            <img class="w-100" src="{% static "assets/img/booking/visa.jpg" %}"
                                                alt="Visa">
                                            <a href="" class="hover-img-overlay-dark"></a>
                                        </div>
                                    </div>

                                    <div class="col-3 pl-lg-1 pl-xl-3">
                                        <div class="img-overlay rounded">
                                            <img class="w-100" src="{% static "assets/img/booking/paypal.jpg" %}"
                                                alt="Paypal">
                                            <a href="" class="hover-img-overlay-dark"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <label for="exampleInputText">Fecha de Expiración:</label>
                            <div class="form-group form-group-icon form-group-icon-default">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <input type="text" class="form-control border-0 bg-smoke" name="dateRange" value=""
                                    placeholder="DD/MM/YY">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputName">Codigo de seguridad:</label>
                                <input type="password" class="form-control border-0 bg-smoke">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                <div class="card bg-smoke mb-6 mb-md-0">
                    <img class="card-img-top" src="/media/{{depa.imagen}}" alt="Imagen Departamento">
                    <div class="card-body">
                        <h6 class="card-title text-dark">Departamento</h6>

                        <ul class="list-group list-group-flush">

                            <li class="list-group-item bg-transparent border-top-0 px-0 py-4">

                                <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Departamento:</span>
                                <span class="text-gray-color">{{depa.direccion}}</span>
                            </li>
                            <li class="list-group-item bg-transparent border-top-0 border-bottom-0 px-0 py-4">

                                <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Metros:</span>
                                <span class="text-gray-color">{{depa.metros}}</span>
                            </li>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-dark">Detalle estadia</h6>

                        <ul class="list-group list-group-flush">


                            <li class="list-group-item bg-transparent border-top-0 px-0 py-4">

                                <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Precio por Noche:</span>
                                <span class="text-gray-color">${{depa.precioNoche}}</span>
                            </li>
                            <li class="list-group-item bg-transparent border-top-0 px-0 py-4">

                                <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Cantidad dias:</span>
                                <span class="text-gray-color" id="cantDias">0</span>
                            </li>


                            <li class="list-group-item bg-transparent px-0 py-4 border-off-white">
                                <span><i class="fa fa-user mr-1" aria-hidden="true"></i>Total Personas:</span>
                                <span class="text-gray-color" id="cantPersonas">0</span>
                            </li>

                            <li class="list-group-item bg-transparent px-0 py-4 d-none"></li>
                            <h2 class="mb-0 pt-5">
                                <span>Abono (Reserva 30%)</span>
                                <span id="abono" class="text-primary font-weight-bold">$0</span>
                            </h2>
                        </ul>
                    </div>

                    <div class="card-footer mt-6">

                        <h2 class="mb-0">
                            <span>Total:</span>
                            <span id="costoTotal" class="text-primary font-weight-bold">$0</span>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 pt-5 form-button">
                <button id="btn_cancel" class="btn btn-primary text-uppercase" style="float: left;">Cancelar</button>
                <button id="btn_add" class="btn btn-primary text-uppercase" style="float: right;">Pagar Abono
                    Reserva</button>
            </div>
        </div>
        
    </div>
</section>

<!--
<main id="main" class="container-fluid">

    <div class="section-title">

        <h2>Reserva de departamento</h2>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Detalle reserva</span>

            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Departamento: {{depa.direccion}}</h6>
                        <small class="text-muted">Metros: {{depa.metros}} </small><br>
                        <small class="text-muted">Precio por Noche: ${{depa.precioNoche}} </small><br>
                        <small id="cantDias" class="text-muted">Cantidad dias: 0</small><br>
                        <small id="cantPersonas" class="text-muted">Cantidad personas: 0</small>

                    </div>
                    <span class="text-muted">${{depa.precioNoche}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <span>Abono (Reserva 30%)</span>
                    <strong id="abono">$0</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total Arriendo(CLP)</span>
                    <strong id="costoTotal">$0</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h1>{{error}}</h1>
            <form id="reserva-form">
                {% csrf_token %}
                <div class="col-sm-12">
                    <div class="form-group row">
                        <div class="col-md-4">
                            {{ form.cantNinos|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.cantAdultos|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.fechaInicio|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group row">
                        <div class="col-md-4">
                            {{ form.fechaFin|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{form.cantPersonas}}
                            {{form.cantDias}}
                            {{form.totalArriendo}}
                            {{form.abono}}
                        </div>

                    </div>
                    <div class="form-group row">
                        <button id="btn_reserva" class="btn btn-primary">Pagar abono reserva</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</main>
-->
{% endblock %}

{% block scripts %}

<script>

    $(function () {
        var anio = new Date()

        $(".datepicker").datepicker({
            dateFormat: "mm-dd-yy",
            changeMonth: true,
            changeYear: true,
            yearRange: anio.getFullYear() + ":2050",
            // You can put more options here.

        });
    });

    var cantDias = 0;
    var cantNinos = 0;
    var cantAdultos = 0;
    var fechaInicio = '';
    var fechaTermino = '';
    var precioDepa = parseInt('{{depa.precioNoche}}')
    var costoDepa = 0;
    var costoServicio = 0;
    var costoTotal = 0;
    var abono = 0;
    var cantPersonas = 0;

    //Add Servicio
    $(document).ready(function () {
        cargaPrecios();

        $("#btn_reserva").on("click", function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/reserva/add/" + '{{depa.pk}}',
                data: $('#reserva-form').serialize(),
                success: function (data) {
                    if (data.type == 'error') {
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        })
                    } else {
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            if (result.value) {
                                window.location.href = '/mis_reservas';
                            }
                        })
                    }
                },
                error: function (data) {
                    swal({
                        title: data.tittle,
                        text: data.mensaje,
                        type: data.type,
                        confirmButtonText: 'Aceptar'
                    })
                }
            });
        })

    });
    //Fin Add Servicio


    //Parsear inputs date to Date
    function parseDate(input) {
        var parts = input.match(/(\d+)/g);
        // new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
        return new Date(parts[0], parts[1] - 1, parts[2]); // months are 0-based
    }

    //Fn para calcular los dias entre 2 fechas orden ->  Inicio, Fin
    // return cant dias diff
    function calcDate(date1, date2) {
        var diff = Math.floor(date1.getTime() - date2.getTime());
        var day = 1000 * 60 * 60 * 24;

        var days = Math.floor(diff / day);
        var months = Math.floor(days / 31);
        var years = Math.floor(months / 12);


        var message = date2.toDateString();
        message += " was "
        message += days + " days "
        message += months + " months "
        message += years + " years ago \n"

        return days * -1
    }

    function actualizaPrecios() {

        costoDepa = precioDepa * cantDias;
        costoTotal = costoDepa + costoServicio;
        abono = parseInt(costoTotal * 0.3);



        $("#costoTotal").text("$" + (costoTotal));
        $("#id_totalArriendo").val(costoTotal);

        $("#abono").text("$" + (abono));
        $("#id_abono").val(abono);

    }

    function cargaPrecios() {
        cantPersonas = cantNinos + cantAdultos;
        $("#id_cantPersonas").val(cantPersonas);
        $("#cantPersonas").text("Total Personas: " + (cantPersonas));
        /*
        Tienen que tener "fechas" (valores asignados) ambas fechas para escribir la calcular 
        la cantidad de dias entre las fechas y escribirlas
        */
        if ('' != fechaInicio && '' != fechaTermino) {
            cantDias = calcDate(fechaInicio, fechaTermino)
            $("#cantDias").text("Cantidad dias: " + cantDias);
            $("#id_cantDias").val(cantPersonas);
            actualizaPrecios()
        }

    }

    //Fn que se activa cuando el input cantidad de ninos es cambiada
    function fn_ninos(val) {
        cantNinos = parseInt(val);
        cargaPrecios();
    }

    //Fn que se activa cuando el input cantidad de adultos es cambiada
    function fn_adultos(val) {
        cantAdultos = parseInt(val);
        cargaPrecios();
    }

    //Fn que se activa cuando el input date fecha inicio es cambiada
    function fn_inicio(val) {
        fechaInicio = new Date(val);
        //console.log(fechaInicio)
        cargaPrecios();
    }

    //Fn que se activa cuando el input date fecha termino es cambiada
    function fn_termino(val) {
        fechaTermino = new Date(val);
        //console.log(fechaTermino)
        cargaPrecios();
    }

</script>

{% endblock %}