<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Intranet{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/fontastic.css" %}">
        <link rel="stylesheet" href="{% static "css/grasp_mobile_progress_circle-1.0.0.min.css" %}">
        <link rel="stylesheet" href="{% static "css/jquery.mCustomScrollbar.css" %}">
        <link rel="stylesheet" href="{% static "css/style.default.css" %}" id="theme-stylesheet">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/fontastic.css" %}">
        <link rel="stylesheet" href="{% static "css/grasp_mobile_progress_circle-1.0.0.min.css" %}">
        <link rel="stylesheet" href="{% static "vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" %}">
        <link rel="stylesheet" href="{% static "css/style.default.css" %} id="theme-stylesheet">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">
        <link rel="stylesheet" href="{% static "css/sweetalert2.min.css" %}">
        <!-- Favicon-->
        <link rel="shortcut icon" href="img/favicon.ico">
        {% block add_head %}{% endblock %}
    </head>
    <body>
        {% block bar_nav %}{% include 'nav_adm.html' %}{% endblock %}
    <section id="main">
        {% block section %}Cuerpo{% endblock %}
    </section>

    <!-- JavaScript files-->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/grasp_mobile_progress_circle-1.0.0.min.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"> </script>
    <script src="{% static "js/Chart.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
    <script src="{% static "js/charts-home.js" %}"></script>
    <script src="{% static "js/front.js" %}"></script>
    <!-- JavaScript files-->
    
    <script src="{% static "js/charts-custom.js" %}"></script>
    <script src="{% static "js/front.js" %}"></script>
    <script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/sweetalert2.min.js" %}"></script>
    

    {% block scripts %}{% endblock %}

    </body>
</html>