{% load static %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
    <i class="icon_menu"></i>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="tn-left">
                        <li><i class="fa fa-phone"></i> (+569) 7821 3281</li>
                        <li><i class="fa fa-envelope"></i> turismo_real@gmail.com</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="tn-right">
                        <div class="top-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        {% if user.is_authenticated %}
                            <a> Hola {{user.username}}</a>

                            <a href="{% url 'users_logout' %}" class="bk-btn"> Cerrar Sesión</a>
                            {% else %}
                                <a href="{% url 'create_user' %}" class="bk-btn">Registrarse</a>
                                <a href="{% url 'users_login' %}" class="bk-btn">Iniciar Sesion</a>
                        {% endif %}
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->


<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="icon_close"></i>
    </div>
    <div class="header-configure-area">
        <a href="#" class="bk-btn">Reservar Ahora</a>
    </div>
    <nav class="mainmenu mobile-menu">
        {% if user.is_authenticated %}
                <ul>
                    <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'list_tipoestado' %}">Departamentos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Mis reservas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            {% else %}
                        
                <ul>
                    <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'list_tipoestado' %}">Departamentos</a></li>
                    <li><a href="$">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
        {% endif %}

    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-tripadvisor"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <ul class="top-widget">
        <li><i class="fa fa-phone"></i>  (+569) 7821 3281</li>
        <li><i class="fa fa-envelope"></i> turismo_real@gmail.com</li>
    </ul>
</div>
<!-- Offcanvas Menu Section End -->

<div class="menu-item">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'assert/img/logo.PNG' %}" class="img-fluid" alt="Logo" style="height: auto; max-width: 100%;">
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="nav-menu">
                    <nav class="mainmenu">
                        {% if user.is_authenticated %}
                            <ul>
                                <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                                <li><a href="{% url 'list_tipoestado' %}">Departamentos</a></li>
                                <li><a href="#">Servicios</a></li>
                                <li><a href="#">Mis reservas</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                        {% else %}
                                    
                            <ul>
                                <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                                <li><a href="{% url 'list_tipoestado' %}">Departamentos</a></li>
                                <li><a href="$">Servicios</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                    {% endif %}
                    

                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
