<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
                
                    <h2 class="h5">{{user.first_name}} {{user.last_name}}</h2><span>{{user.fk_tipo_usuario}}</span>
                   
                    
                
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo"><a href="{% url 'intranet' %}" class="brand-small text-center">
                    <strong>T</strong><strong class="text-primary">R</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">Menú</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                
                    <li><a href="{% url 'intranet' %}"> <i class="icon-home"></i>Inicio </a></li>
                    <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Estadisticas </a></li>
                    <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i
                                class="icon-interface-windows"></i>Mantenedor </a>
                        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                            <li><a href="{% url 'list_depa' %}">Departamentos</a></li>
                            <li><a href="{% url 'list_serv' %}">Servicios Extras</a></li>
                            <li><a href="{% url 'list_usr' %}">Usuarios</a></li>
                            <li><a href="{% url 'list_tipoestado' %}">Estados Departamento</a></li>
                        </ul>
                    </li>
                    <li><a href="login.html"> <i class="icon-list-1"></i>Asignación Transporte </a></li>
                    <li> <a href="#"> <i class="icon-mail"></i>Mensajes
                            <div class="badge badge-warning">6 New</div></a></li>
                    <!--
                    <li><a href="{% url 'intranet' %}"> <i class="icon-home"></i>Inicio </a></li>
                    <li><a href="{% url 'intranet' %}"> <i class="icon-home"></i>Check in </a></li>
                    <li><a href="{% url 'intranet' %}"> <i class="icon-home"></i>Check out </a></li>
                    -->
            </ul>
        </div>
    </div>
</nav>
<div class="page">
    <!-- navbar-->
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars">
                            </i></a><a href="index.html" class="navbar-brand">
                            <div class="brand-text d-none d-md-inline-block"><span>Turismo </span><strong
                                    class="text-primary">Real</strong></div>
                        </a></div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Notifications dropdown-->
                        <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="nav-link"><i class="fa fa-bell"></i><span
                                    class="badge badge-warning">12</span></a>
                            <ul aria-labelledby="notifications" class="dropdown-menu">
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                        <div class="notification d-flex justify-content-between">
                                            <div class="notification-content"><i class="fa fa-envelope"></i>Tienes 6
                                                mensajes </div>
                                            <div class="notification-time"><small>4 minutes ago</small></div>
                                        </div>
                                    </a></li>
                                <li>
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                        <div class="notification d-flex justify-content-between">
                                            <div class="notification-content"><i class="fa fa-upload"></i>Hay 2
                                                nuevas reservas</div>
                                            <div class="notification-time"><small>4 minutes ago</small></div>
                                        </div>
                                    </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">
                                        <strong> <i class="fa fa-bell"></i>Ver todas las notificaciones
                                        </strong></a></li>
                            </ul>
                        </li>
                        <!-- Messages dropdown-->
                        <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="nav-link"><i class="fa fa-envelope"></i><span
                                    class="badge badge-info">10</span></a>
                            <ul aria-labelledby="notifications" class="dropdown-menu">
                                <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                                        <div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..."
                                                class="img-fluid rounded-circle"></div>
                                        <div class="msg-body">
                                            <h3 class="h5">Jason Doe</h3><span>sent you a direct
                                                message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                                        <div class="msg-profile"> <img src="img/avatar-2.jpg" alt="..."
                                                class="img-fluid rounded-circle"></div>
                                        <div class="msg-body">
                                            <h3 class="h5">Frank Williams</h3><span>sent you a direct
                                                message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                                        <div class="msg-profile"> <img src="img/avatar-3.jpg" alt="..."
                                                class="img-fluid rounded-circle"></div>
                                        <div class="msg-body">
                                            <h3 class="h5">Ashley Wood</h3><span>sent you a direct
                                                message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">
                                        <strong> <i class="fa fa-envelope"></i>Leer todos los mensajes </strong></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="{% url 'intranet_logout' %}" class="nav-link logout"> <span
                                    class="d-none d-sm-inline-block">Salir</span><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>