{% extends 'AppIntranet/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} Mantenedor Mantencion Departamento {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Agregar Mantención a Departamento "{{departamento.direccion}}"</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'list_depa' %}">Mantenedor Departamento</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'list_mant'  pk=pk %}">Mantenedor Mantención</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Agregar Mantención</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Agregar Mantención al Departamento "{{departamento.direccion}}" </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <form id="form_add" >
                        {% csrf_token %}
                        
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    {{ form.nombre|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.descripcion|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.costo|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    {{ form.fechaInicioProg|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.fechaTerminoProg|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.fechaRealInicio|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    {{ form.fechaRealTermino|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group col-lg-12 text-center">
                            <button id="btn_add" class="btn btn-primary btn-block btn-primary"><i class="fa fa-upload"></i> Agregar</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>

    </div>
</div>

{% block scripts %}

{% include 'AppIntranet/mantencion/mantencion.html' %}

{% endblock %}


{% endblock %}