
{% extends 'AppIntranet/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %} 

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mantenedor de Mantenciones del Departamento "{{departamento.direccion}}"</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'list_depa' %}">Mantenedor Departamento</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Mantenedor Imagenes de Departamento</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
    
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Mantenciones del Departamento "{{departamento.direccion}}" </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                       
                    </div>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'create_mant' %}" class="btn btn-w-m btn-primary"><i class="fa fa-plus-circle"></i>
                        <span>Agregar Mantención</span></a><br> <br>
                    {% if cantidad > 0 %}
                        <div class="table-responsive text-center">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Funcionario</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Costo</th>
                                        <th>Fecha Inicio Programada</th>
                                        <th>Fecha Termino Programada</th>
                                        <th>Fecha Inicio Real</th>
                                        <th>Fecha Termino Real</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mant in mantenciones_list %}
                                        <tr>
                                            <td>{{mant.fk_empleado}}</td>
                                            <td>{{mant.nombre}}</td>
                                            <td>{{mant.descripcion}}</td>
                                            <td>{{mant.costo|intcomma}}</td>
                                            <td>{{mant.fechaInicioProg|date:"d M Y"}}</td>
                                            <td>{{mant.fechaTerminoProg|date:"d M Y"}}</td>
                                            <td>{{mant.fechaRealInicio|date:"d M Y"}}</td>
                                            <td>{{mant.fechaRealTermino|date:"d M Y"}}</td>
                                            <td>
                                                <a href="{% url 'edit_mant' pk=mant.pk %}" class="btn btn-primary  dim"><i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="bg-warning p-xs b-r-sm text-center">Actualmente el departamento "{{departamento.direccion}}" no posee mantención alguna.</div>

                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
