{% extends 'AppIntranet/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} Mantenedores {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mantenedores de Servicios</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Servicios</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
       
        <div class="col-lg-3">
            <div class="contact-box center-version">
        
                <a href="{% url 'list_tours' %}">
        
                    <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fa fa-building"></i></button>
                    <h3 class="m-b-xs"><strong>Tours</strong></h3>
                    Administrar Tours<br>
        
                </a>
        
            </div>
        </div>
        <div class="col-lg-3">
            <div class="contact-box center-version">
        
                <a href="{% url 'list_serv' %}">
        
                    <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fa fa-puzzle-piece"></i></button>
                    <h3 class="m-b-xs"><strong>Otros Servicios</strong></h3>
                    Administrar otros servicios<br>
        
                </a>
        
            </div>
        </div>
    
</div>



{% endblock %}
