{% extends 'AppWeb/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken"
        style="background-image: url({% static 'assets/img/pages/page-title-bg10.jpg' %});">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-9 col-xl-8">
                    <div class="page-title-content py-7 py-md-8">
                        <div class="">
                            <h2 class="text-uppercase text-white font-weight-bold">Edita Ocupante</h2>
                        </div>
                        <p class="text-white mb-0">Rellenar formulario de ocupante</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6">
    <div class="container">
        <div class="text-center section-title">
            <h2 class="text-uppercase font-weight-bold position-relative">
                <span class="bg-white">
                    Edita de Ocupante {{ocupante.nombres}} {{ocupante.apellidos}}
                </span>
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-12 py-6 border-top border-top-5 border-primary rounded">
                <form id="form_edit" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group row">
                        <div class="col-md-4">
                            {{ form.rut|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.nombres|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.apellidos|as_crispy_field }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            {{ form.edad|as_crispy_field }}
                        </div>
                        
                    </div>
                    
                    <div class="form-group">
                        <button id="btn_edit" class="btn btn-primary"><i class="fas fa-edit"></i> Editar ocupante</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
    {% include 'AppWeb/ocupante/ocupante.html' %}

{% endblock %}