{% extends 'AppWeb/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<section class="page-title">
  <div class="page-title-img bg-img bg-overlay-darken"
  style="background-image: url({% static 'assets/img/pages/page-title-bg10.jpg' %});">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-9 col-xl-8">
          <div class="page-title-content py-7 py-md-8">
            <div class="">
              <h2 class="text-uppercase text-white font-weight-bold">Detalle ocupantes de reserva</h2>
            </div>
            <p class="text-white mb-0">Departamento reservado: {{detalle.fk_departamento.direccion}} <br> 
              Dia Reserva: {{detalle.fk_reserva.fechaInicio|date:"d M Y"}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-7 pb-9 pb-lg-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="mb-5" id="alerts">
          <h1 class="element-title">Ocupantes</h1>
          {% if cantidad > 0 %}
          <p class="mb-6 line-height-28 h4">En la siguiente tabla podrá encontrar los ocupantes de la reserva</p>
          {% else %}
          <p class="mb-6 line-height-28 h4">Por favor registre todos los ocupantes que habitarán en el departamento</p>
          {% endif %}

          <div class="row">
            <div class="col-lg-12">
              <a href="{% url 'create_ocu' %}" class="btn btn-primary mb-2"><i class="fas fa-user-plus"></i> Registrar Ocupante</a>
            </div>
            <div class="col-lg-12">
              <br>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ocu in ocupantes_list %}
                  <tr>
                    <td>{{ocu.rut}}</td>
                    <td>{{ocu.nombres}}</td>
                    <td>{{ocu.apellidos}}</td>
                    <td>{{ocu.edad}}</td>
                    <td> <a href="{% url 'edit_ocu' pk=ocu.pk %}" class="btn btn-primary btn-sm" ><i class="fas fa-edit"></i> Editar</a> </td>
                    <td> <a href="{% url 'del_ocu' pk=ocu.pk %}" class="btn btn-primary btn-sm" ><i class="fas fa-trash-alt"></i> Eliminar </a> </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>


{% endblock %}