{% extends 'AppIntranet/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mantenedor de Tours</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores Servicios</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Mantenedor de tours</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Listado de tours</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'create_serv' %}" class="btn btn-w-m btn-primary"><i class="fa fa-plus-circle"></i>
                        <span>Agregar Nuevo Tour</span></a><br> <br>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Duración</th>
                                    <th>Imagen</th>
                                    <th>Precio</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    
                                    <td>
                                        <a href="#" class="btn btn-primary  dim"><i
                                                class="fa fa-edit"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}