{% extends 'AppIntranet/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mantenedor Detalle de Inventario "{{inv.nombre}}" del Departamento "{{departamento.direccion}}"</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'list_depa' %}">Mantenedor Departamento</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'list_inv'  pk=departamento.pk %}">Mantenedor Inventario</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Mantenedor Detalle Inventario</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Objetos del Inventario "{{inv.nombre}}" </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                       
                    </div>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'create_deta' %}" class="btn btn-w-m btn-primary"><i class="fa fa-plus-circle"></i>
                        <span>Agregar Objeto</span></a><br> <br>
                    <div class="table-responsive text-center">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre Objeto</th>
                                    <th>Cantidad </th>
                                    <th>Descripcion</th>
                                    <th>Precio</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for deta in detalles_list %}
                                    <tr>
                                        <td>{{deta.nombreObjeto}}</td>
                                        <td>{{deta.cantidad}}</td>
                                        <td>{{deta.descripcion}}</td>
                                        <td>${{deta.costo|intcomma}}</td>
                                        <td>
                                            <a href="{% url 'edit_deta' pk=deta.pk %}" class="btn btn-primary  dim"><i class="fa fa-edit"></i></a>
                                        </td> 
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
                  

{% endblock %}