{% extends 'AppIntranet/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} Mantenedor Tipo de Estado {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Editar Tipo Estado Arriendo</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'list_tipoestado' %}">Mantenedor Tipo Estado Arriendo</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Editar Tipo Estado Arriendo</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar Tipo Estado Arriendo "{{tipo.nombre}}"</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <form id="form_edit" >
                        {% csrf_token %}
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.nombre|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.descripcion|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group col-lg-12 text-center">
                                <button id="btn_edit" class="btn btn-primary btn-block btn-primary"><i class="fa fa-edit"></i> Editar</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% block scripts %}
    {% include 'AppIntranet/tipo_estado/tipoestado.html' %}

{% endblock %}

{% endblock %}