
{% extends 'AppIntranet/base.html' %}

{% load static %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}   

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mantenedor de datos de Tipos Estado Arriendo</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Mantenedor Tipo Estado Arriendo</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
    
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Tipos Estados Arriendo </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                       
                    </div>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'create_tipoestado' %}" class="btn btn-w-m btn-primary"><i class="fa fa-plus-circle"></i>
                        <span>Agregar Tipo Estado</span></a><br> <br>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for est in estados_list %}
                                    <tr>
                                        <td>{{est.nombre}}</td>
                                        <td>{{est.descripcion}}</td>
                                        <td>
                                            <a href="{% url 'edit_tipoestado' pk=est.pk %}" class="btn btn-primary  dim"><i class="fa fa-edit"></i></a>
                                        </td>    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<section class="charts">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">Mantenedor Tipo Estado Proceso </h1>
        </header>
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-7">
                                <a href="{% url 'create_tipoestado' %}" class="btn btn-secondary"><i class="material-icons">&#xE147;</i>
                                    <span>Agregar Tipo Estado Proceso</span></a>
                                <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i>
                                    <span>Export to Excel</span></a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for est in estados_list %}
                                <tr id="datos">
                                    <td>{{est.nombre}}</td>
                                    <td>{{est.descripcion}}</td>
                                    <td>
                                        <a href="{% url 'edit_tipoestado' pk=est.pk %}" ><i class="fa fa-pencil"></i> Editar</a>
                                    </td>    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                        <ul class="pagination">
                            <li class="page-item disabled"><a href="#">Previous</a></li>
                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item active"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" class="page-link">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
        
    
    


    
{% endblock %}
