{% extends 'AppIntranet/base.html' %}

{% load static %}

{% block title %} Turismo Real {% endblock %}

{% block add_head %}{% endblock %}

{% block section %}   

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mantenedor de Inventarios del Departamento "{{departamento.direccion}}"</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mantenedores' %}">Mantenedores</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'list_depa' %}">Mantenedor Departamento</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Mantenedor Inventario</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
        
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Inventarios del Departamento "{{departamento.direccion}}" </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                       
                    </div>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'create_inv' %}" class="btn btn-w-m btn-primary"><i class="fa fa-plus-circle"></i>
                        <span>Agregar Inventario</span></a><br> <br>
                    <div class="table-responsive text-center">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Fecha Registro</th>
                                    <th>Empleado</th>
                                    <th>Departamento</th>
                                    <th>Detalle Inventario</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inv in inventarios_list %}
                                    <tr>
                                        <td>{{inv.nombre}}</td>
                                        <td>{{inv.descripcion}}</td>
                                        <td>{{inv.fechaRegistro|date:"Y-m-d"}}</td>    
                                        <td>{{inv.fk_empleador}}</td>
                                        <td>{{inv.fk_departamento}}</td>
                                        <td>
                                            <a href="{% url 'list_deta' pk=inv.pk %}" class="btn btn-outline btn-success">Objetos</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'edit_inv' pk=inv.pk %}" class="btn btn-primary  dim"><i class="fa fa-edit"></i></a>
                                        </td>    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    
{% endblock %}
