{% extends 'AppIntranet/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Agenda de funcionario {% endblock %}

{% block add_head %}

<style>

    .padd{
        padding: 10px;
    }

    .padd-top{        
        padding-top: 20px;
    }
</style>

{% endblock %}

{% block section %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="far fa-calendar-check"></i> Check Out</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'intranet' %}">Inicio</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'agenda' %}">Agenda de Arriendos</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Check Out - Especificación</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="padd-top animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Detalle Check Out </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <!--Detalle Inventario -->
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fas fa-boxes"></i> Detalle Inventario Departamento
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Nombre Objeto</th>
                                                    <th>Cantidad</th>
                                                    <th>Costo (Unitario)</th>
                                                    <th>Cantidad Registrada</th>
                                                    <th>Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>Cuchara</td>
                                                    <td>6</td>
                                                    <td>$1.000</td>
                                                    <td contenteditable='true'>5</td>
                                                    <td contenteditable='true'>Falta una cuchara</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 padd">
                                    <button class="btn btn-w-m btn-primary">Registrar Check-Out</button>
                                </div>
                            </div>
                        </div>
                        <!--Fin Detalle Inventario -->

                        <!--Multa -->
                        <div class="col-lg-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <i class="fas fa-dollar-sign"></i> Multas
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Nombre Objeto</th>
                                                    <th>Cantidad Faltante</th>
                                                    <th>Costo Total(Cant*Precio)</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>Cuchara</td>
                                                    <td>1</td>
                                                    <td>$1.000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Fin Multa -->

                        <!--Documento -->
                        <div class="col-lg-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <i class="fas fa-file-alt"></i> Documentos
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="" class="btn btn-w-m .btn-lg btn-primary"><i class="fas fa-file-download"></i> Obtener Acta</a>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label text-center">Adjuntar Firma(DOC):</label>
                                                    <input type="file" class="form-control"
                                                        placeholder="{{user.first_name}}" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Fin Multa -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Información-->
<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Información Reserva</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="far fa-calendar-check"></i> Datos Cliente
                                </div>
                                <div class="panel-body">
                                    <div class="container">
                                        <div class="row py-2">
                                            <div class="col-lg-4">
                                                <label class="control-label text-center">Nombres:</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{user.first_name}}" disabled>
                                            </div>
                                            <div class="col-lg-4">
                                                <label class="control-label text-center">Apellidos:</label>
                                                <input type="text" class="form-control" placeholder="{{user.last_name}}"
                                                    disabled>
                                            </div>
                                            <div class="col-lg-4">
                                                <label class="control-label text-center">Telefono:</label>
                                                <input type="text" class="form-control" placeholder="{{user.telefono}}"
                                                    disabled>
                                            </div>
                                        </div>
                                        <div class="row py-2">
                                            <div class="col-lg-6">
                                                <label class="control-label text-center">Correo Electronico:</label>
                                                <input type="text" class="form-control" placeholder="{{user.email}}"
                                                    disabled>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="control-label text-center">Dirección:</label>
                                                <input type="text" class="form-control" placeholder="{{user.direccion}}"
                                                    disabled>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <i class="far fa-calendar-check"></i> Ocupantes
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Rut</th>
                                                    <th>Nombre</th>
                                                    <th>Apellido</th>
                                                    <th>Edad</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>11.111.111-1</td>
                                                    <td>Pedro</td>
                                                    <td>Araya</td>
                                                    <td>24</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Información-->




{% endblock %}